## ★policy_df 읽어오기(태그생성)

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from collections import Counter

In [ ]:
policy_df = pd.read_csv("/content/drive/MyDrive/1팀/policy_final_01192022.csv")

In [ ]:
policy_df.columns, policy_df.shape

(Index(['Unnamed: 0', 'Unnamed: 0.1', '정책ID', '정책서비스ID', '서비스명', '소관기관',
        '소관기관유형', '서비스목적', '지원대상', '지원내용', '신청절차', '선정기준', '신청기한_시작', '신청기한_끝',
        '상세조회URL', '문의처전화번호', '온라인신청사이트URL', '지원유형', '추출_종업원수_최소', '추출_종업원수_최대',
        '추출_기업규모', '추출_주요업종', '추출_선호특성', '추출_설립기간_최소', '추출_설립기간_최대', '추출_시도1',
        '추출_시군구1', '주요업종_filtered'],
       dtype='object'), (9630, 28))

# 기업정책데이터 query_answer

## 기업데이터 불러오기

In [ ]:
pd.set_option('display.max_colwidth', None)

df_all = pd.read_excel('/content/drive/MyDrive/1팀/기업데이터 형태샘플(AIB전달용).xlsx', sheet_name = None)
df_all.keys()

dict_keys(['형태샘플', '학습샘플', '최종기업샘플', '10차 업종번호', 'dart_기업개황'])

In [ ]:
df_all['학습샘플'].shape, df_all['형태샘플'].shape, df_all['최종기업샘플'].shape, df_all['dart_기업개황'].shape

((463, 28), (46, 28), (11056, 36), (89390, 19))

In [ ]:
df_all['학습샘플'].columns

Index(['섹터', '기업체명', '영문기업명', '사업자번호', '법인(주민)번호', '대표자명', '종업원수', '설립형태',
       '설립일자', '기업형태', '기업규모', '전화번호', '팩스번호', '홈페이지', '이메일', '결산월', '기업공개일자',
       '도로명', '지번', '업종(10차)', '업종(9차)', '주요제품(상품)', '무역업허가번호', '소속그룹',
       '주채권기관', '당좌거래은행', '휴폐업정보', '법인등기정보'],
      dtype='object')

In [ ]:
df_all['형태샘플'].columns

Index(['섹터', '기업체명', '영문기업명', '사업자번호', '법인(주민)번호', '대표자명', '종업원수', '설립형태',
       '기업체명.1', '설립일자', '기업형태', '전화번호', '팩스번호', '홈페이지', '이메일', '결산월',
       '기업공개일자', '도로명', '지번', '업종(10차)', '업종(9차)', '주요제품(상품)', '무역업허가번호',
       '소속그룹', '주채권기관', '당좌거래은행', '휴폐업정보', '법인등기정보'],
      dtype='object')

In [ ]:
# 잘못된 컬럼명 수정
df_all['형태샘플'].columns = ['섹터', '기업체명', '영문기업명', '사업자번호', '법인(주민)번호', '대표자명', '종업원수', '설립형태',
        '설립일자', '기업형태', '기업규모', '전화번호', '팩스번호', '홈페이지', '이메일', '결산월', '기업공개일자',
        '도로명', '지번', '업종(10차)', '업종(9차)', '주요제품(상품)', '무역업허가번호', '소속그룹',
        '주채권기관', '당좌거래은행', '휴폐업정보', '법인등기정보']
df_all['형태샘플'].head(1)

                         섹터  ...                      법인등기정보
0  가구내고용활동및달리분류되지않은자가소비생산활동  ...  청산종결간주 (조회일자 : 2022-01-03)

[1 rows x 28 columns]

In [ ]:
df_sample = pd.concat([df_all['학습샘플'],df_all['형태샘플']], ignore_index=True)

In [ ]:
df_final = df_all['최종기업샘플']

In [ ]:
df_dart = df_all['dart_기업개황']

### 학습샘플+형태샘플 : df_sample

In [ ]:
df_sample.head()

              섹터  ...                    법인등기정보
0  공공행정국방및사회보장행정  ...    정상 (조회일자 : 2021-12-14)
1  공공행정국방및사회보장행정  ...    정상 (조회일자 : 2022-01-10)
2  공공행정국방및사회보장행정  ...  청산종결 (조회일자 : 2019-11-05)
3  공공행정국방및사회보장행정  ...  해산간주 (조회일자 : 2021-11-04)
4  공공행정국방및사회보장행정  ...    정상 (조회일자 : 2021-11-12)

[5 rows x 28 columns]

In [ ]:
df_sample['설립형태'].value_counts()

신규설립(개업)    484
기타           10
법인전환          8
분할신설          7
Name: 설립형태, dtype: int64

In [ ]:
df_sample['기업형태'].value_counts()

일반법인      293
외감        178
개인사업자      23
코스닥시장      10
유가증권시장      4
코넥스         1
Name: 기업형태, dtype: int64

### 최종기업샘플 : df_final

In [ ]:
# df_all['최종기업샘플'].drop('정책select', axis=1, inplace=True) # -->  업종  기업설립일자  종업원수  기업상세주소
df_final.head(5)

  회계감사인명 감사보고서의견내용      기준일자       사업자등록번호  ...  금융감독원법인변경일시  금융감독원법인고유번호 업종 중소기업여부
0    NaN       NaN  20200509  2.118648e+09  ...   2017-06-30       806149  1    NaN
1    NaN       NaN  20200509  1.208770e+09  ...   2017-06-30       926629  1    NaN
2    NaN       NaN  20200509  3.028100e+09  ...   2017-06-30       225991  5    NaN
3    NaN       NaN  20200509  2.208747e+09  ...   2017-06-30       821388  5    NaN
4    NaN       NaN  20200509  2.208756e+09  ...   2017-06-30       775061  5    NaN

[5 rows x 36 columns]

In [ ]:
df_final['법인등록번호'].isnull().sum()

0

### dart_기업개황 : df_dart

In [ ]:
df_dart.head(5)

   결산월(MM)                        주소  ... 주식 종목코드        종목명 또는 약식명칭
0     12.0       충청남도 천안시 청당동 419-12  ...     NaN                 다코
1     12.0            강원도 원주시 원동 303  ...     NaN               일산약품
2     11.0        서울특별시 중구 태평로2가 120  ...     NaN              굿앤엘에스
3     12.0  제주특별자치도 북제주군 한림읍 상명리 587  ...     NaN               한라판지
4     10.0      서울특별시 영등포구 여의도동 36-3  ...     NaN  크레디피아제이십오차유동화전문회사

[5 rows x 19 columns]

In [ ]:
df_dart.columns

Index(['결산월(MM)', '주소', '사업자등록번호', '대표자명',
       '법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)', 'corp_code', '정식명칭', '영문명칭',
       '설립일(YYYYMMDD)', '팩스번호', '홈페이지', '업종번호', 'IR홈페이지', '법인등록번호', 'message',
       '전화번호', 'status', '주식 종목코드', '종목명 또는 약식명칭'],
      dtype='object')

In [ ]:
df_dart['주식 종목코드'].unique()

array([    nan,  36720.,  40130., ...,  53950., 204990., 289220.])

## 기업데이터 컬럼 모아보기

In [ ]:
df_sample.columns

Index(['섹터', '기업체명', '영문기업명', '사업자번호', '법인(주민)번호', '대표자명', '종업원수', '설립형태',
       '설립일자', '기업형태', '기업규모', '전화번호', '팩스번호', '홈페이지', '이메일', '결산월', '기업공개일자',
       '도로명', '지번', '업종(10차)', '업종(9차)', '주요제품(상품)', '무역업허가번호', '소속그룹',
       '주채권기관', '당좌거래은행', '휴폐업정보', '법인등기정보'],
      dtype='object')

In [ ]:
df_final.columns

Index(['회계감사인명', '감사보고서의견내용', '기준일자', '사업자등록번호', '법인구분코드', '법인구분코드명', '법인영문명',
       '기업체명', '법인등록시장구분코드', '법인등록시장구분코드명', '법인등록번호', '종업원평균근속기간내용', '기업기본주소',
       '기업상세주소', '종업원수', '기업설립일자', '기업팩스번호', '홈페이지', '기업코스닥상장폐지일자',
       '기업코스닥상장일자', '기업KONEX상장폐지일자', '기업KONEX상장일자', '기업주요사업명', '기업주거래은행명',
       '기업구우편번호', '기업공시회사명', '기업1인평균급여금액', '기업대표자성명', '기업결산월', '기업전화번호',
       '기업거래소상장폐지일자', '기업거래소상장일자', '금융감독원법인변경일시', '금융감독원법인고유번호', '업종',
       '중소기업여부'],
      dtype='object')

In [ ]:
df_dart.columns

Index(['결산월(MM)', '주소', '사업자등록번호', '대표자명',
       '법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)', 'corp_code', '정식명칭', '영문명칭',
       '설립일(YYYYMMDD)', '팩스번호', '홈페이지', '업종번호', 'IR홈페이지', '법인등록번호', 'message',
       '전화번호', 'status', '주식 종목코드', '종목명 또는 약식명칭'],
      dtype='object')

## 지역 딕셔너리 : region_zip1(시도),  region_zip2(시군구)
- 시도 : region_zip1
- 시군구 : region_zip2

In [ ]:
# 지역명 태그 딕셔너리 만들기

# 1) 시도 태그딕셔너리
policy_tag = pd.read_excel("/content/drive/MyDrive/1팀/정책데이터 태그셋리스트(AIB전달용).xlsx",sheet_name='상위코드', header=1 )
policy_tag = policy_tag.iloc[15:, 4:7]
policy_tag.columns = ['지역(시도)', '번호', '상위코드']
policy_tag.reset_index(drop=True, inplace=True)
region_tag = policy_tag[0:18]
region_tag = region_tag[['지역(시도)','상위코드']]

# 단어와 개체명 정보끼리 딕셔너리 만들기
region_zip = {w: t for w, t in zip(region_tag["지역(시도)"].values.tolist(), region_tag["상위코드"].values.tolist())}
# region_zip_reverse = {t:w for w, t in region_zip.items()}

# 지역이 축약되는 경우도 많으므로 적절하게 처리해서 row 추가 
a = 18
for i in region_tag['지역(시도)']:
    if i == '충청북도':
        region_tag.loc[a] = ['충북', region_zip[i]]
        a+=1
    elif i == '충청남도':
        region_tag.loc[a] = ['충남', region_zip[i]]
        a+=1
    elif i == '전라북도':
        region_tag.loc[a] = ['전북', region_zip[i]]
        a+=1
    elif i == '전라남도':
        region_tag.loc[a] = ['전남', region_zip[i]]
        a+=1
    elif i == '경상북도':
        region_tag.loc[a] = ['경북', region_zip[i]]
        a+=1
    elif i == '경상남도':
        region_tag.loc[a] = ['경남', region_zip[i]]
        a+=1
    else:
        region_tag.loc[a] = [i[0:2], region_zip[i]]
        a+=1

# 단어와 개체명 정보끼리 딕셔너리 만들기
region_zip1 = {w: t for w, t in zip(region_tag["지역(시도)"].values.tolist(), region_tag["상위코드"].values.tolist())}
# region_zip_reverse = {t:w for w, t in region_zip.items()}

# 2) 시군구 딕셔너리 만들고 추가
policy_low_tag= pd.read_excel("/content/drive/MyDrive/1팀/정책데이터 태그셋리스트(AIB전달용).xlsx",sheet_name='하위코드', header=1 )
region_low_tag = policy_low_tag.iloc[1:247,[4,6]].dropna(how='all')
region_low_tag.columns = ['지역(시군구)', '하위코드']
region_low_tag=region_low_tag.reset_index(drop=True)

# 단어와 개체명 정보끼리 쌍으로 묶기. ('전체'는 여러가지라서 따로 처리가 필요)
region_low_tag = region_low_tag[region_low_tag['지역(시군구)'] !='전체']
region_low_zip = {w:t for w, t in zip(region_low_tag["지역(시군구)"].values.tolist(), region_low_tag["하위코드"].values.tolist())}
# region_low_zip_reverse = {t:w for w, t in region_low_zip.items()}

# 지역이 축약되는 경우도 많으므로 적절하게 처리해서 row 추가 
a = 244
for i in region_low_tag['지역(시군구)']:
    if len(i[:-1]) == 1:
        continue
    elif i == '세종시 전체':
        continue
    elif i == '제주시':
        continue
    else:
        region_low_tag.loc[a] = [i[:-1], region_low_zip[i]]
        a+=1

region_zip2 = {w:t for w, t in zip(region_low_tag["지역(시군구)"].values.tolist(), region_low_tag["하위코드"].values.tolist())}
# region_low_zip_reverse = {t:w for w, t in region_low_zip.items()}

# # 두 파이썬 딕셔너리를 병합(시도+시군구)
# region_zip.update(region_low_zip)

In [ ]:
# 시도
region_zip1

{'강원': 'A01-10',
 '강원도': 'A01-10',
 '경기': 'A01-09',
 '경기도': 'A01-09',
 '경남': 'A01-16',
 '경북': 'A01-15',
 '경상남도': 'A01-16',
 '경상북도': 'A01-15',
 '광주': 'A01-05',
 '광주광역시': 'A01-05',
 '대구': 'A01-03',
 '대구광역시': 'A01-03',
 '대전': 'A01-06',
 '대전광역시': 'A01-06',
 '부산': 'A01-02',
 '부산광역시': 'A01-02',
 '서울': 'A01-01',
 '서울특별시': 'A01-01',
 '세종': 'A01-08',
 '세종특별자치시': 'A01-08',
 '울산': 'A01-07',
 '울산광역시': 'A01-07',
 '인천': 'A01-04',
 '인천광역시': 'A01-04',
 '전국': 'A01-00',
 '전남': 'A01-14',
 '전라남도': 'A01-14',
 '전라북도': 'A01-13',
 '전북': 'A01-13',
 '제주': 'A01-17',
 '제주특별자치도': 'A01-17',
 '충남': 'A01-12',
 '충북': 'A01-11',
 '충청남도': 'A01-12',
 '충청북도': 'A01-11'}

In [ ]:
# 시군구
region_zip2

{'가평': 'A01-09-30',
 '가평군': 'A01-09-30',
 '강남': 'A01-01-23',
 '강남구': 'A01-01-23',
 '강동': 'A01-01-25',
 '강동구': 'A01-01-25',
 '강릉': 'A01-10-03',
 '강릉시': 'A01-10-03',
 '강북': 'A01-01-09',
 '강북구': 'A01-01-09',
 '강서': 'A01-02-12',
 '강서구': 'A01-02-12',
 '강진': 'A01-14-13',
 '강진군': 'A01-14-13',
 '강화': 'A01-04-09',
 '강화군': 'A01-04-09',
 '거제': 'A01-16-07',
 '거제시': 'A01-16-07',
 '거창': 'A01-16-17',
 '거창군': 'A01-16-17',
 '경산': 'A01-15-10',
 '경산시': 'A01-15-10',
 '경주': 'A01-15-02',
 '경주시': 'A01-15-02',
 '계룡': 'A01-12-07',
 '계룡시': 'A01-12-07',
 '계양': 'A01-04-07',
 '계양구': 'A01-04-07',
 '고령': 'A01-15-17',
 '고령군': 'A01-15-17',
 '고성': 'A01-16-12',
 '고성군': 'A01-16-12',
 '고양': 'A01-09-03',
 '고양시': 'A01-09-03',
 '고창': 'A01-13-13',
 '고창군': 'A01-13-13',
 '고흥': 'A01-14-09',
 '고흥군': 'A01-14-09',
 '곡성': 'A01-14-07',
 '곡성군': 'A01-14-07',
 '공주': 'A01-12-02',
 '공주시': 'A01-12-02',
 '과천': 'A01-09-29',
 '과천시': 'A01-09-29',
 '관악': 'A01-01-21',
 '관악구': 'A01-01-21',
 '광명': 'A01-09-14',
 '광명시': 'A01-09-14',
 '광산': 'A01-05-05',
 '광산구': 'A01-05-05',
 '광양': 'A01-14-05',
 '광양시': 'A01-14-05',
 '광주': 'A01-09-17',
 '광주시': 'A01-09-17',
 '광진': 'A01-01-05',
 '광진구': 'A01-01-05',
 '괴산': 'A01-11-08',
 '괴산군': 'A01-11-08',
 '구례': 'A01-14-08',
 '구례군': 'A01-14-08',
 '구로': 'A01-01-17',
 '구로구': 'A01-01-17',
 '구리': 'A01-09-21',
 '구리시': 'A01-09-21',
 '구미': 'A01-15-05',
 '구미시': 'A01-15-05',
 '군산': 'A01-13-02',
 '군산시': 'A01-13-02',
 '군위': 'A01-15-11',
 '군위군': 'A01-15-11',
 '군포': 'A01-09-16',
 '군포시': 'A01-09-16',
 '금산': 'A01-12-09',
 '금산군': 'A01-12-09',
 '금정': 'A01-02-11',
 '금정구': 'A01-02-11',
 '금천': 'A01-01-18',
 '금천구': 'A01-01-18',
 '기장': 'A01-02-16',
 '기장군': 'A01-02-16',
 '김제': 'A01-13-06',
 '김제시': 'A01-13-06',
 '김천': 'A01-15-03',
 '김천시': 'A01-15-03',
 '김포': 'A01-09-15',
 '김포시': 'A01-09-15',
 '김해': 'A01-16-05',
 '김해시': 'A01-16-05',
 '나주': 'A01-14-04',
 '나주시': 'A01-14-04',
 '남구': 'A01-07-02',
 '남동': 'A01-04-05',
 '남동구': 'A01-04-05',
 '남양주': 'A01-09-08',
 '남양주시': 'A01-09-08',
 '남원': 'A01-13-05',
 '남원시': 'A01-13-05',
 '남해': 'A01-16-13',
 '남해군': 'A01-16-13',
 '노원': 'A01-01-11',
 '노원구': 'A01-01-11',
 '논산': 'A01-12-06',
 '논산시': 'A01-12-06',
 '단양': 'A01-11-10',
 '단양군': 'A01-11-10',
 '달서': 'A01-03-07',
 '달서구': 'A01-03-07',
 '달성': 'A01-03-08',
 '달성군': 'A01-03-08',
 '담양': 'A01-14-06',
 '담양군': 'A01-14-06',
 '당진': 'A01-12-08',
 '당진시': 'A01-12-08',
 '대덕': 'A01-06-05',
 '대덕구': 'A01-06-05',
 '도봉': 'A01-01-10',
 '도봉구': 'A01-01-10',
 '동구': 'A01-07-03',
 '동대문': 'A01-01-06',
 '동대문구': 'A01-01-06',
 '동두천': 'A01-09-28',
 '동두천시': 'A01-09-28',
 '동래': 'A01-02-06',
 '동래구': 'A01-02-06',
 '동작': 'A01-01-20',
 '동작구': 'A01-01-20',
 '동해': 'A01-10-04',
 '동해시': 'A01-10-04',
 '마포': 'A01-01-14',
 '마포구': 'A01-01-14',
 '목포': 'A01-14-01',
 '목포시': 'A01-14-01',
 '무안': 'A01-14-16',
 '무안군': 'A01-14-16',
 '무주': 'A01-13-09',
 '무주군': 'A01-13-09',
 '문경': 'A01-15-09',
 '문경시': 'A01-15-09',
 '미추홀': 'A01-04-03',
 '미추홀구': 'A01-04-03',
 '밀양': 'A01-16-06',
 '밀양시': 'A01-16-06',
 '보령': 'A01-12-03',
 '보령시': 'A01-12-03',
 '보성': 'A01-14-10',
 '보성군': 'A01-14-10',
 '보은': 'A01-11-04',
 '보은군': 'A01-11-04',
 '봉화': 'A01-15-21',
 '봉화군': 'A01-15-21',
 '부산진': 'A01-02-05',
 '부산진구': 'A01-02-05',
 '부안': 'A01-13-14',
 '부안군': 'A01-13-14',
 '부여': 'A01-12-10',
 '부여군': 'A01-12-10',
 '부천': 'A01-09-05',
 '부천시': 'A01-09-05',
 '부평': 'A01-04-06',
 '부평구': 'A01-04-06',
 '북구': 'A01-07-04',
 '사상': 'A01-02-15',
 '사상구': 'A01-02-15',
 '사천': 'A01-16-04',
 '사천시': 'A01-16-04',
 '사하': 'A01-02-10',
 '사하구': 'A01-02-10',
 '산청': 'A01-16-15',
 '산청군': 'A01-16-15',
 '삼척': 'A01-10-07',
 '삼척시': 'A01-10-07',
 '상주': 'A01-15-08',
 '상주시': 'A01-15-08',
 '서구': 'A01-06-03',
 '서귀포': 'A01-17-01',
 '서귀포시': 'A01-17-01',
 '서대문': 'A01-01-13',
 '서대문구': 'A01-01-13',
 '서산': 'A01-12-05',
 '서산시': 'A01-12-05',
 '서천': 'A01-12-11',
 '서천군': 'A01-12-11',
 '서초': 'A01-01-22',
 '서초구': 'A01-01-22',
 '성남': 'A01-09-02',
 '성남시': 'A01-09-02',
 '성동': 'A01-01-04',
 '성동구': 'A01-01-04',
 '성북': 'A01-01-08',
 '성북구': 'A01-01-08',
 '성주': 'A01-15-18',
 '성주군': 'A01-15-18',
 '세종시 전체': 'A01-08-00',
 '속초': 'A01-10-06',
 '속초시': 'A01-10-06',
 '송파': 'A01-01-24',
 '송파구': 'A01-01-24',
 '수성': 'A01-03-06',
 '수성구': 'A01-03-06',
 '수영': 'A01-02-14',
 '수영구': 'A01-02-14',
 '수원': 'A01-09-01',
 '수원시': 'A01-09-01',
 '순창': 'A01-13-12',
 '순창군': 'A01-13-12',
 '순천': 'A01-14-03',
 '순천시': 'A01-14-03',
 '시흥': 'A01-09-12',
 '시흥시': 'A01-09-12',
 '신안': 'A01-14-22',
 '신안군': 'A01-14-22',
 '아산': 'A01-12-04',
 '아산시': 'A01-12-04',
 '안동': 'A01-15-04',
 '안동시': 'A01-15-04',
 '안산': 'A01-09-06',
 '안산시': 'A01-09-06',
 '안성': 'A01-09-22',
 '안성시': 'A01-09-22',
 '안양': 'A01-09-07',
 '안양시': 'A01-09-07',
 '양구': 'A01-10-15',
 '양구군': 'A01-10-15',
 '양산': 'A01-16-08',
 '양산시': 'A01-16-08',
 '양양': 'A01-10-18',
 '양양군': 'A01-10-18',
 '양주': 'A01-09-19',
 '양주시': 'A01-09-19',
 '양천': 'A01-01-15',
 '양천구': 'A01-01-15',
 '양평': 'A01-09-27',
 '양평군': 'A01-09-27',
 '여수': 'A01-14-02',
 '여수시': 'A01-14-02',
 '여주': 'A01-09-26',
 '여주시': 'A01-09-26',
 '연수': 'A01-04-04',
 '연수구': 'A01-04-04',
 '연제': 'A01-02-13',
 '연제구': 'A01-02-13',
 '연천': 'A01-09-31',
 '연천군': 'A01-09-31',
 '영광': 'A01-14-18',
 '영광군': 'A01-14-18',
 '영덕': 'A01-15-15',
 '영덕군': 'A01-15-15',
 '영도': 'A01-02-04',
 '영도구': 'A01-02-04',
 '영동': 'A01-11-06',
 '영동군': 'A01-11-06',
 '영등포': 'A01-01-19',
 '영등포구': 'A01-01-19',
 '영암': 'A01-14-15',
 '영암군': 'A01-14-15',
 '영양': 'A01-15-14',
 '영양군': 'A01-15-14',
 '영월': 'A01-10-10',
 '영월군': 'A01-10-10',
 '영주': 'A01-15-06',
 '영주시': 'A01-15-06',
 '영천': 'A01-15-07',
 '영천시': 'A01-15-07',
 '예산': 'A01-12-14',
 '예산군': 'A01-12-14',
 '예천': 'A01-15-20',
 '예천군': 'A01-15-20',
 '오산': 'A01-09-20',
 '오산시': 'A01-09-20',
 '옥천': 'A01-11-05',
 '옥천군': 'A01-11-05',
 '옹진': 'A01-04-10',
 '옹진군': 'A01-04-10',
 '완도': 'A01-14-20',
 '완도군': 'A01-14-20',
 '완주': 'A01-13-07',
 '완주군': 'A01-13-07',
 '용산': 'A01-01-03',
 '용산구': 'A01-01-03',
 '용인': 'A01-09-04',
 '용인시': 'A01-09-04',
 '울릉': 'A01-15-23',
 '울릉군': 'A01-15-23',
 '울주': 'A01-07-05',
 '울주군': 'A01-07-05',
 '울진': 'A01-15-22',
 '울진군': 'A01-15-22',
 '원주': 'A01-10-02',
 '원주시': 'A01-10-02',
 '유성': 'A01-06-04',
 '유성구': 'A01-06-04',
 '은평': 'A01-01-12',
 '은평구': 'A01-01-12',
 '음성': 'A01-11-09',
 '음성군': 'A01-11-09',
 '의령': 'A01-16-09',
 '의령군': 'A01-16-09',
 '의성': 'A01-15-12',
 '의성군': 'A01-15-12',
 '의왕': 'A01-09-24',
 '의왕시': 'A01-09-24',
 '의정부': 'A01-09-11',
 '의정부시': 'A01-09-11',
 '이천': 'A01-09-18',
 '이천시': 'A01-09-18',
 '익산': 'A01-13-03',
 '익산시': 'A01-13-03',
 '인제': 'A01-10-16',
 '인제군': 'A01-10-16',
 '임실': 'A01-13-11',
 '임실군': 'A01-13-11',
 '장성': 'A01-14-19',
 '장성군': 'A01-14-19',
 '장수': 'A01-13-10',
 '장수군': 'A01-13-10',
 '장흥': 'A01-14-12',
 '장흥군': 'A01-14-12',
 '전주': 'A01-13-01',
 '전주시': 'A01-13-01',
 '정선': 'A01-10-12',
 '정선군': 'A01-10-12',
 '정읍': 'A01-13-04',
 '정읍시': 'A01-13-04',
 '제주시': 'A01-17-00',
 '제천': 'A01-11-03',
 '제천시': 'A01-11-03',
 '종로': 'A01-01-01',
 '종로구': 'A01-01-01',
 '중구': 'A01-07-01',
 '중랑': 'A01-01-07',
 '중랑구': 'A01-01-07',
 '증평': 'A01-11-11',
 '증평군': 'A01-11-11',
 '진도': 'A01-14-21',
 '진도군': 'A01-14-21',
 '진안': 'A01-13-08',
 '진안군': 'A01-13-08',
 '진주': 'A01-16-02',
 '진주시': 'A01-16-02',
 '진천': 'A01-11-07',
 '진천군': 'A01-11-07',
 '창녕': 'A01-16-11',
 '창녕군': 'A01-16-11',
 '창원': 'A01-16-01',
 '창원시': 'A01-16-01',
 '천안': 'A01-12-01',
 '천안시': 'A01-12-01',
 '철원': 'A01-10-13',
 '철원군': 'A01-10-13',
 '청도': 'A01-15-16',
 '청도군': 'A01-15-16',
 '청송': 'A01-15-13',
 '청송군': 'A01-15-13',
 '청양': 'A01-12-12',
 '청양군': 'A01-12-12',
 '청주': 'A01-11-01',
 '청주시': 'A01-11-01',
 '춘천': 'A01-10-01',
 '춘천시': 'A01-10-01',
 '충주': 'A01-11-02',
 '충주시': 'A01-11-02',
 '칠곡': 'A01-15-19',
 '칠곡군': 'A01-15-19',
 '태백': 'A01-10-05',
 '태백시': 'A01-10-05',
 '태안': 'A01-12-15',
 '태안군': 'A01-12-15',
 '통영': 'A01-16-03',
 '통영시': 'A01-16-03',
 '파주': 'A01-09-13',
 '파주시': 'A01-09-13',
 '평창': 'A01-10-11',
 '평창군': 'A01-10-11',
 '평택': 'A01-09-10',
 '평택시': 'A01-09-10',
 '포천': 'A01-09-23',
 '포천시': 'A01-09-23',
 '포항': 'A01-15-01',
 '포항시': 'A01-15-01',
 '하남': 'A01-09-25',
 '하남시': 'A01-09-25',
 '하동': 'A01-16-14',
 '하동군': 'A01-16-14',
 '함안': 'A01-16-10',
 '함안군': 'A01-16-10',
 '함양': 'A01-16-16',
 '함양군': 'A01-16-16',
 '함평': 'A01-14-17',
 '함평군': 'A01-14-17',
 '합천': 'A01-16-18',
 '합천군': 'A01-16-18',
 '해남': 'A01-14-14',
 '해남군': 'A01-14-14',
 '해운대': 'A01-02-09',
 '해운대구': 'A01-02-09',
 '홍성': 'A01-12-13',
 '홍성군': 'A01-12-13',
 '홍천': 'A01-10-08',
 '홍천군': 'A01-10-08',
 '화성': 'A01-09-09',
 '화성시': 'A01-09-09',
 '화순': 'A01-14-11',
 '화순군': 'A01-14-11',
 '화천': 'A01-10-14',
 '화천군': 'A01-10-14',
 '횡성': 'A01-10-09',
 '횡성군': 'A01-10-09'}

## df_sample 매칭시스템
- 결측치가 없는 지번으로 매칭

In [ ]:
df_sample.columns

Index(['섹터', '기업체명', '영문기업명', '사업자번호', '법인(주민)번호', '대표자명', '종업원수', '설립형태',
       '설립일자', '기업형태', '기업규모', '전화번호', '팩스번호', '홈페이지', '이메일', '결산월', '기업공개일자',
       '도로명', '지번', '업종(10차)', '업종(9차)', '주요제품(상품)', '무역업허가번호', '소속그룹',
       '주채권기관', '당좌거래은행', '휴폐업정보', '법인등기정보'],
      dtype='object')

### 지역매칭

In [ ]:
policy_df['추출_시도1'].isnull().sum(), policy_df['추출_시군구1'].isnull().sum()

(0, 0)

In [ ]:
# 정책데이터 결측치 제거하고 리스트로 만들기
# policy_df['추출_시군구1'] = policy_df['추출_시군구1'].fillna('')

# policy_df['추출_시도1'] = policy_df['추출_시도'].apply(lambda x : x.split(', '))
# policy_df['추출_시군구1'] = policy_df['추출_시군구'].apply(lambda x:x.split(', '))

In [ ]:
# 어떻게 이루어져 있는지 파악
for i in range(len(df_sample['도로명'])):
    li=df_sample['도로명'][i].split(' ')
    print(li)
    if len(li) < 3:
        print(li)

['(07321)', '서울', '영등포구', '여의대로', '38', '(여의도동,금융감독원)']
['(17396)', '경기', '이천시', '호법면', '덕평로', '236']
['(04551)', '서울', '중구', '삼일대로', '340,', '9층', '(저동1가,나라키움저동빌딩)']
['(06104)', '서울', '강남구', '언주로', '651,', '8층', '(논현동,삼원빌딩)']
['(61949)', '광주', '서구', '상무시민로', '96,', '4층', '401호', '일부', '(치평동,종산타워)']
['(44780)', '울산', '남구', '장생포고래로183번길', '15,', '2층', '(장생포동)']
['(55068)', '전북', '전주시', '완산구', '콩쥐팥쥐로', '1696', '(효자동3가)']
['(26456)', '강원', '원주시', '행구덕현길', '56', '(행구동)']
['(26464)', '강원', '원주시', '세계로', '10', '(반곡동,한국관광공사)']
['(05103)', '서울', '광진구', '자양로', '45', '(자양동)']
['(06349)', '서울', '강남구', '밤고개로1길', '10,', '1123호', '(수서동,수서현대벤처빌)']
['(62395)', '광주', '광산구', '고봉로', '261-4', '(장수동)']
['(14297)', '경기', '광명시', '금오로', '823-21,', '17', '(옥길동)']
['(21693)', '인천', '남동구', '아암대로', '1151', '(고잔동)']
['(12638)', '경기', '여주시', '강변북로', '283,', '7호', '(현암동)']
['-']
['-']
['-']
['-']
['(23011)', '인천', '강화군', '양사면', '인화로', '356', '(인화리)']
['(26496)', '강원', '원주시', '귀래면', '방아실길', '51', '(귀래리)']
['(25948)', '강원', '삼척시', '도계읍', '도상로', '512', '(상덕리,경동광업소)']
['(50804)', '경남', '김해시', '상동면', '동북로437번길', '83-43', '(매리)']
['(24554)', '강원', '양구군', '남면', '정중앙로', '621-1,', '2층', '(용하리)']
['(18130)', '경기', '오산시', '오산천로', '128', '(오산동)']
['(61480)', '광주', '동구', '충장로46번길', '3,', '5층', '(충장로4가,현대코아)']
['(57248)', '전남', '장성군', '남면', '나노산단2로', '113', '(삼태리)']
['(11905)', '경기', '구리시', '동구릉로389번길', '89-18', '(사노동)']
['(03152)', '서울', '종로구', '종로1길', '42', '(수송동)']
['(35229)', '대전', '서구', '대덕대로', '243', '(둔산동)']
['(25934)', '강원', '삼척시', '근덕면', '덕산해변길', '48', '(덕산리)']
['(28169)', '충북', '청주시', '흥덕구', '오송읍', '동평서평길', '79-41', '(동평리)']
['(22342)', '인천', '중구', '서해대로', '17', '(항동7가)']
['(06192)', '서울', '강남구', '테헤란로', '406,', 'A동', '2011호', '(대치동,샹제리제센터)']
['(31933)', '충남', '서산시', '성연면', '일호리2길', '113', '(일람리)']
['(27865)', '충북', '진천군', '문백면', '문진로', '586', '(태락리)']
['(59014)', '전남', '해남군', '산이면', '관광레저로', '2003']
['(58688)', '전남', '목포시', '통일대로', '63,', '바동', '(상동)']
['(02055)', '서울', '중랑구', '신내역로3길', '40-36,', '지하2층', '에프비222호', '(신내동,신내데시앙', '플렉스)']
['(42459)', '대구', '남구', '성당로', '182-1', '(대명동)']
['-']
['-']
['(32201)', '충남', '홍성군', '갈산면', '수덕사로317번길', '137-42', '(가곡리)']
['(61947)', '광주', '서구', '상무중앙로', '114,', '1045호', '(치평동,랜드피아오피스텔)']
['(06162)', '서울', '강남구', '테헤란로', '401,', '601호', '(삼성동,남경빌딩)']
['(38697)', '경북', '경산시', '남천면', '남성현로', '1009-38', '(하도리)']
['(38697)', '경북', '경산시', '남천면', '남성현로', '1009-38', '(하도리)']
['-']
['-']
['(18522)', '경기', '화성시', '정남면', '서봉로', '831', '(문학리)']
['(03143)', '서울', '종로구', '율곡로2길', '7', '(수송동)']
['(51326)', '경남', '창원시', '마산회원구', '3.15대로', '482', '(회원동)']
['(40155)', '경북', '고령군', '우곡면', '우곡로', '670', '(월오리)']
['(44918)', '울산', '울주군', '범서읍', '정지불길', '166', '(중리)']
['(24211)', '강원', '춘천시', '동면', '금옥길', '228', '(월곡리)']
['-']
['-']
['(51367)', '경남', '창원시', '의창구', '남산로9번길', '8', '(팔용동)']
['(25034)', '강원', '양양군', '서면', '장승리', '산15번지']
['(13550)', '경기', '성남시', '분당구', '대왕판교로', '352,', '3층', '(궁내동,도원빌딩)']
['(22665)', '인천', '서구', '보듬로', '11', '(오류동)']
['(31534)', '충남', '아산시', '신창면', '서부북로682번길', '15', '(신달리)']
['(46047)', '부산', '기장군', '일광면', '기장대로', '1157', '(청광리)']
['(11520)', '경기', '양주시', '장흥면', '호국로', '152', '(일영리)']
['(37730)', '경북', '포항시', '남구', '운하로251번길', '37', '(송도동)']
['(41843)', '대구', '서구', '평리로35길', '20', '(중리동)']
['(11151)', '경기', '포천시', '군내면', '틀못이길', '235', '(하성북리)']
['(11154)', '경기', '포천시', '군내면', '솔밭길', '3,', '106호', '(용정리)']
['(07995)', '서울', '양천구', '목동서로', '225,', '10층', '1020호', '(목동,대한민국예술인센터)']
['-']
['-']
['(06164)', '서울', '강남구', '영동대로', '517,', '37층', '3768호', '(삼성동,아셈타워)']
['(12459)', '경기', '가평군', '설악면', '유명로', '2320', '(회곡리)']
['(06131)', '서울', '강남구', '테헤란로25길', '15-3,', '4층', '401호', '(역삼동,대원빌딩)']
['(46757)', '부산', '강서구', '녹산산단262로59번길', '27', '(송정동)']
['(08536)', '서울', '금천구', '시흥대로152길', '25,', '상가', '104호', '(독산동,신도아파트)']
['(06212)', '서울', '강남구', '테헤란로', '336,', '6층', '(역삼동,두올빌딩)']
['(04001)', '서울', '마포구', '월드컵북로5가길', '8-6', '(서교동)']
['(36907)', '경북', '문경시', '산북면', '종곡길', '158-258', '(종곡리,문경신소재)']
['-']
['-']
['(04516)', '서울', '중구', '서소문로', '101', '(서소문동)']
['(32532)', '충남', '공주시', '우성면', '공수원로', '281-3', '(방흥리)']
['(52854)', '경남', '진주시', '사들로', '52,', '202호', '(충무공동,배재1빌딩)']
['(05585)', '서울', '송파구', '백제고분로', '266,', '8층', '(삼전동)']
['(52009)', '경남', '함안군', '칠서면', '삼칠로', '767', '(태곡리)']
['(33486)', '충남', '보령시', '성주면', '만수로', '878-123', '(개화리)']
['(33183)', '충남', '부여군', '장암면', '장암로', '113-41', '(원문리)']
['(26021)', '강원', '태백시', '황지로', '78', '(황지동,한국광물자원공사)']
['(50902)', '경남', '김해시', '해반천로130번길', '39,', '207호', '(삼계동,코아루센텀오피스텔)']
['(26414)', '강원', '원주시', '평원로', '90-8', '(평원동)']
['(07263)', '서울', '영등포구', '선유동1로', '22,', '10층', '(당산동2가,', '진덕빌딩)']
['(06181)', '서울', '강남구', '테헤란로98길', '16,', '601호', '(대치동,제주장학회관)']
['(26243)', '강원', '영월군', '중동면', '도화동길', '156', '(녹전리)']
['(11100)', '경기', '포천시', '관인면', '창동로1230번길', '94', '(삼율리)']
['(17118)', '경기', '용인시', '처인구', '남사면', '서촌로', '197,', '102호', '(통삼리)']
['(25933)', '강원', '삼척시', '근덕면', '시목길', '225', '(교곡리)']
['(22337)', '인천', '중구', '축항대로166번길', '18', '(항동7가)']
['(06026)', '서울', '강남구', '도산대로', '237,', '1102호', '(신사동,현대벨로스오피스텔)']
['(06710)', '서울', '서초구', '반포대로', '37', '(서초동)']
['(06710)', '서울', '서초구', '반포대로', '37', '(서초동)']
['(28102)', '충북', '청주시', '흥덕구', '옥산면', '국사오산로', '332', '(동림리)']
['(27681)', '충북', '음성군', '금왕읍', '덕금로', '793-29', '(봉곡리)']
['(07558)', '서울', '강서구', '공항대로', '607', '(염창동)']
['(06142)', '서울', '강남구', '테헤란로33길', '18,', '6층', '(역삼동,서울빌딩)']
['(16827)', '경기', '용인시', '수지구', '문인로', '30,', '4층', '현대그린푸드', '(동천동)']
['(11773)', '경기', '의정부시', '부용로210번길', '20,', '1층', '(신곡동)']
['(01333)', '서울', '도봉구', '도봉로', '710,', 'G동', '1층', '1호', '(방학동,호텔베이204)']
['(48039)', '부산', '해운대구', '반여로41번길', '36', '(반여동)']
['(26144)', '강원', '정선군', '남면', '칠현로', '504']
['(32607)', '충남', '공주시', '이인면', '검바위로', '95-39', '(달산리)']
['(22342)', '인천', '중구', '서해대로', '3', '(항동7가)']
['(36347)', '경북', '울진군', '기성면', '기성로', '1104', '(사동리)']
['(06235)', '서울', '강남구', '논현로87길', '41,', '11층', '1104호', '(역삼동,신일유토빌)']
['(39847)', '경북', '칠곡군', '석적읍', '소학로', '92', '(망정리)']
['(12769)', '경기', '광주시', '직동로', '19-12(직동)']
['(49455)', '부산', '사하구', '감천항로405번길', '115', '(구평동)']
['(63631)', '제주', '서귀포시', '성산읍', '중산간동로', '3512', '(수산리)']
['(06052)', '서울', '강남구', '학동로31길', '12,', 'A동', '7층', '731호', '(논현동,벤처캐슬빌딩)']
['(59626)', '전남', '여수시', '대학로', '50,', '산학연구관', '517호', '(둔덕동,전남대학교여수캠퍼스)']
['(18545)', '경기', '화성시', '송산면', '송산포도로', '601-5', '(마산리)']
['(32701)', '충남', '금산군', '복수면', '적선길', '98-24', '(구례리,(주)신덕개발)']
['(31776)', '충남', '당진시', '교동1길', '7-20,', '2층', '(읍내동)']
['(38406)', '경북', '경산시', '하양읍', '대곡로', '245', '(대곡리)']
['(25744)', '강원', '동해시', '효자로', '246', '(삼화동)']
['(37304)', '경북', '의성군', '다인면', '가원농공길', '92', '(가원리)']
['(26248)', '강원', '영월군', '상동읍', '중석길', '79-50', '(구래리)']
['(06100)', '서울', '강남구', '봉은사로51길', '41', '(논현동)']
['(07327)', '서울', '영등포구', '국제금융로2길', '37,', '2003호', '(여의도동,에스트레뉴)']
['(03184)', '서울', '종로구', '새문안로', '68,', '9층', '(신문로1가,흥국생명빌딩)']
['(28176)', '충북', '청주시', '흥덕구', '강내면', '저산태성로', '227-43', '(산단리)']
['(03188)', '서울', '종로구', '종로', '26', '(서린동)']
['(11022)', '경기', '연천군', '청산면', '순욱길', '126', '(대전리)']
['(50561)', '경남', '양산시', '상북면', '석계산단2길', '114', '(석계리)']
['(48083)', '부산', '해운대구', '좌동순환로', '76', '(좌동)']
['(06173)', '서울', '강남구', '테헤란로103길', '14,', '3층', '엘에스.04', '(삼성동)']
['(06177)', '서울', '강남구', '영동대로', '324,', '707호', '(대치동,타워크리스탈)']
['(48244)', '부산', '수영구', '연수로392번길', '45', '(광안동,광안리치빌)']
['(53013)', '경남', '통영시', '광도면', '죽림4로', '23-96,', '3층', '322호', '(죽림리,다임리더스빌)']
['(59603)', '전남', '여수시', '율촌면', '중산길', '67-289', '(가장리)']
['(63344)', '제주', '제주시', '조천읍', '대와상길', '49-6']
['(46038)', '부산', '기장군', '장안읍', '해맞이로', '173', '(임랑리)']
['(59603)', '전남', '여수시', '율촌면', '중산길', '67-289', '(가장리)']
['(06649)', '서울', '서초구', '반포대로20길', '29,', '5층', '(서초동,예당빌딩)']
['(36422)', '경북', '영덕군', '축산면', '고경길', '120', '(경정리)']
['(06751)', '서울', '서초구', '바우뫼로', '91,', '203호', '(양재동,성보프라자)']
['(63037)', '제주', '제주시', '애월읍', '광상로', '633-51', '(소길리)']
['(31428)', '충남', '아산시', '영인면', '월선서길', '111', '(월선리)']
['(17088)', '경기', '용인시', '기흥구', '지삼로', '89', '(지곡동)']
['(02580)', '서울', '동대문구', '한빛로', '12,', '1층', '(신설동,우성빌딩)']
['(36811)', '경북', '예천군', '감천면', '충효로', '934', '(덕율리)']
['(11041)', '경기', '연천군', '전곡읍', '양연로548번길', '262,', '2층', '(간파리)']
['(49444)', '부산', '사하구', '을숙도대로', '617']
['(22755)', '인천', '서구', '장도로', '63-2', '(경서동,장강산업개발(주))']
['(12919)', '경기', '하남시', '조정대로', '71,', '1634호', '(풍산동,인스타시티)']
['(06142)', '서울', '강남구', '테헤란로', '237,', '9층', '(역삼동,삼부빌딩)']
['(07327)', '서울', '영등포구', '국제금융로', '24', '(여의도동)']
['-']
['-']
['(07071)', '서울', '동작구', '보라매로5길', '51,', '5층', '(신대방동,롯데관악타워)']
['(28625)', '충북', '청주시', '서원구', '산남로62번길', '35,', '7층', '708호', '(산남동,신성미소시티블루2)']
['(12665)', '경기', '여주시', '점동면', '안평로', '94', '(장안리)']
['(16897)', '경기', '용인시', '기흥구', '죽전로', '17,', '8층', '(보정동,풍산프라자)']
['(57208)', '전남', '장성군', '북하면', '단풍로', '1048-90', '(대악리)']
['(04598)', '서울', '중구', '다산로11길', '19,', '5층', '(신당동,백석빌딩)']
['(32998)', '충남', '논산시', '은진면', '대학로', '132,', '1층', '(와야리)']
['(51602)', '경남', '창원시', '진해구', '신항남로', '2']
['(13446)', '경기', '성남시', '수정구', '동판교로', '314,', '3층', '(사송동)']
['(53331)', '경남', '거제시', '동부면', '율포로', '408-31', '(부춘리)']
['(06698)', '서울', '서초구', '효령로', '22,', '5층', '506호', '(방배동,맴버스뷰)']
['(38609)', '경북', '경산시', '삼성현로', '614-26', '(평산동)']
['(25538)', '강원', '강릉시', '경강로', '2044,', '2층', '(명주동)']
['(25210)', '강원', '횡성군', '횡성읍', '경강로학곡2길', '132', '(학곡리,청우산업)']
['(06164)', '서울', '강남구', '테헤란로87길', '36', '(삼성동,도심공항타워)']
['(18541)', '경기', '화성시', '마도면', '신남로', '16-40', '(쌍송리)']
['(31208)', '충남', '천안시', '동남구', '통정9로', '27,', '201호', '(신방동,방산빌딩)']
['(41062)', '대구', '동구', '첨단로', '120', '(신서동)']
['(32420)', '충남', '예산군', '신암면', '용산로', '82-17', '(조곡리)']
['(04334)', '서울', '용산구', '한강대로', '350,', '7층', '(갈월동,갑을빌딩)']
['(11184)', '경기', '포천시', '소흘읍', '호국로287번길', '17-19,', '7동', '108호', '(이동교리,포천공구유통단지)']
['(26029)', '강원', '태백시', '강원남부로', '484', '(통동)']
['(25384)', '강원', '평창군', '미탄면', '수청길', '227', '(수청리)']
['(22756)', '인천', '서구', '장도로', '63-2', '(경서동)']
['(44918)', '울산', '울주군', '범서읍', '정지불길', '119', '(중리)']
['(22348)', '인천', '중구', '연안부두로33번길', '16,', '2층', '209호', '(항동7가,라이프비취상가)']
['(07021)', '서울', '동작구', '남부순환로255나길', '4', '(사당동)']
['(10036)', '경기', '김포시', '통진읍', '김포대로', '1979', '(도사리)']
['(31789)', '충남', '당진시', '원구룡길', '56', '(구룡동)']
['(06178)', '서울', '강남구', '테헤란로84길', '14,', '10층', '1025호', '(대치동,지어로빌딩)']
['(06050)', '서울', '강남구', '언주로', '711', '(논현동)']
['(06151)', '서울', '강남구', '테헤란로43길', '8,', '11층', '(역삼동)']
['(44538)', '울산', '중구', '종가로', '305', '(우정동,한국석유공사)']
['(22769)', '인천', '서구', '건지로', '45-42', '(석남동)']
['(26141)', '강원', '정선군', '신동읍', '조동1길', '154', '(조동리)']
['(26460)', '강원', '원주시', '배울로', '85', '(반곡동,대한석탄공사)']
['(04531)', '서울', '중구', '세종대로18길', '32', '(소공동,삼원빌딩)']
['(22007)', '인천', '연수구', '인천타워대로', '323,', 'B동', '202호', '(송도동,송도', '센트로드)']
['(44779)', '울산', '남구', '장생포로', '389', '(매암동)']
['(15477)', '경기', '안산시', '단원구', '광덕대로', '138,', '408호', '(고잔동)']
['(36371)', '경북', '울진군', '후포면', '쇠골2길', '93', '(금음리,KMC㈜금음선별장)']
['(28102)', '충북', '청주시', '흥덕구', '옥산면', '국사오산로', '384', '(금계리)']
['(15288)', '경기', '안산시', '상록구', '예술광장로', '35,', '201호', '(월피동,에스엘타운)']
['(15288)', '경기', '안산시', '상록구', '예술광장로', '35,', '201호', '(월피동,에스엘타운)']
['(17384)', '경기', '이천시', '마장면', '서이천로337번길', '55', '(표교리)']
['(06240)', '서울', '강남구', '테헤란로4길', '39', '(역삼동,강남대성빌딩)']
['(06181)', '서울', '강남구', '영동대로85길', '20-9,', '1층,2층,3층,4층,5층1호,6층,7층2호,8층,9층', '(대치동,강안교육빌딩)']
['(16227)', '경기', '수원시', '영통구', '광교산로', '154-42', '(이의동,경기대학교)']
['(57215)', '전남', '장성군', '장성읍', '단풍로', '105,', '102호', '(유탕리)']
['(03157)', '서울', '종로구', '종로5길', '7,', '1601호', '(청진동,TOWER8빌딩)']
['(03157)', '서울', '종로구', '종로5길', '7,', '1601호', '(청진동,TOWER8빌딩)']
['(06739)', '서울', '서초구', '남부순환로364길', '8-9,', '6층', '(양재동,우리빌딩)']
['(41584)', '대구', '북구', '침산남로', '154,', '801호', '(침산동,메이저타워)']
['(12197)', '경기', '남양주시', '화도읍', '수레로', '1131,', '3층', '(차산리)']
['(07558)', '서울', '강서구', '공항대로', '607', '(염창동,서울도시가스사옥)']
['(02582)', '서울', '동대문구', '왕산로', '14,', '7층', '(신설동,글로리아타워)']
['(02582)', '서울', '동대문구', '왕산로', '14,', '신설동', '98-30', '글로리아타워]', '제11층', '제1101호', '(신설동)']
['(06209)', '서울', '강남구', '도곡로', '457,', '5층', '(대치동,진흥빌딩)']
['(03188)', '서울', '종로구', '종로', '34,', '3층', '(서린동,알파빌딩)']
['(03994)', '서울', '마포구', '양화로19길', '22-8,', '4층', '403호', '(동교동,류석빌딩)']
['(13561)', '경기', '성남시', '분당구', '불정로', '6', '(정자동,그린팩토리)']
['(08507)', '서울', '금천구', '가산디지털1로', '128,', '10층', '1006호', '(가산동,에스티엑스브이타워)']
['(06103)', '서울', '강남구', '봉은사로', '317,', '4층', '(논현동,삼우빌딩)']
['(06083)', '서울', '강남구', '영동대로', '602,', '6층', '에프72', '(삼성동,미켈란107)']
['(13597)', '경기', '성남시', '분당구', '내정로', '167,', '402,403,404호', '(수내동,양지프라임)']
['(08708)', '서울', '관악구', '보라매로3길', '23', '(봉천동)']
['(08708)', '서울', '관악구', '보라매로3길', '23', '(봉천동,대교타워)']
['(08708)', '서울', '관악구', '보라매로3길', '23,', '3층', '(봉천동,대교타워)']
['(07071)', '서울', '동작구', '보라매로5길', '51', '(신대방동,롯데관악타워)']
['(06634)', '서울', '서초구', '서초대로52길', '28', '(서초동)']
['(12025)', '경기', '남양주시', '수동면', '외방로135번길', '12-30', '(외방리)']
['(06634)', '서울', '서초구', '서초중앙로', '118,', '8층', '(서초동,카이스시스템빌딩)']
['(06928)', '서울', '동작구', '노량진로', '120', '(노량진동)']
['-']
['-']
['(03369)', '서울', '은평구', '진흥로16길', '16-1,', '301호', '(녹번동,늘푸른주택)']
['(05606)', '서울', '송파구', '삼전로', '84,', '2층', '(삼전동,신이빌딩)']
['(06142)', '서울', '강남구', '테헤란로', '231,', '6층', '7층', '(역삼동,센터필드', '웨스트)']
['(07301)', '서울', '영등포구', '영신로34길', '10,', '5층', '(영등포동4가,영남빌딩)']
['(05300)', '서울', '강동구', '명일로26길', '25']
['(06129)', '서울', '강남구', '테헤란로5길', '31,', '1층', '(역삼동,금성빌딩)']
['(12740)', '경기', '광주시', '초월읍', '설월길', '8', '(지월리)']
['(07304)', '서울', '영등포구', '영중로', '12,', '6층', '(영등포동3가,에쉐르쇼핑몰)']
['(06280)', '서울', '강남구', '남부순환로', '2917,', '402호', '(대치동,청실상가)']
['(06572)', '서울', '서초구', '방배로', '181,', '6층', ',7층,8층', '(방배동,단우빌딩)']
['(04059)', '서울', '마포구', '와우산로', '138', '(창전동)']
['(10380)', '경기', '고양시', '일산서구', '중앙로', '1547,', '5층', '503호', '(대화동,킨텍스존)']
['(06162)', '서울', '강남구', '테헤란로', '407,', '5층', '(삼성동,이케이타워)']
['(04400)', '서울', '용산구', '이태원로54길', '74,', '3층', '(한남동)']
['(06626)', '서울', '서초구', '서초대로78길', '52,', '5층', '(서초동,강남역인앤인)']
['(08381)', '서울', '구로구', '디지털로', '285,', '403호', '(구로동,에이스트윈타워1차)']
['(06196)', '서울', '강남구', '역삼로', '447', '(대치동,리틀팍스)']
['(01019)', '서울', '강북구', '삼각산로', '36', '(수유동)']
['(06236)', '서울', '강남구', '테헤란로20길', '9,', '3층,', '13층', '(역삼동,동궁빌딩)']
['(06233)', '서울', '강남구', '테헤란로', '116,', 'K동', '10층', '1090호', '(역삼동,동경빌딩)']
['(06152)', '서울', '강남구', '언주로', '508,', '14층', '(역삼동)']
['(06732)', '서울', '서초구', '서운로', '19,', '2층', '(서초동,서초월드)']
['(06643)', '서울', '서초구', '효령로', '321', '(서초동,덕원빌딩)']
['(04715)', '서울', '성동구', '왕십리로', '303', '(행당동,서울성동우체국)']
['(03472)', '서울', '은평구', '은평로', '216', '(응암동)']
['(06278)', '서울', '강남구', '도곡로', '408,', '2층', '207호,', '208호,', '209호,', '210호,', '211호', '(대치동,디마크타워)']
['(01062)', '서울', '강북구', '도봉로', '328,', '1724호', '(번동,가든타워빌딩)']
['(06132)', '서울', '강남구', '테헤란로25길', '20,', '707호', '(역삼동,역삼벤처텔)']
['(08003)', '서울', '양천구', '오목로', '282', '(목동)']
['(42179)', '대구', '수성구', '청수로', '270,', '4층', '(황금동)']
['(16914)', '경기', '용인시', '기흥구', '구성로', '357,', 'B동', '201호', '~비211호,비213호', '(청덕동,용인테크노밸리)']
['(06532)', '서울', '서초구', '신반포로', '311,', '2층', '201호', '(잠원동,신영빌딩)']
['(04410)', '서울', '용산구', '한남대로11길', '12,', '6층', '(한남동,고뫄스빌딩)']
['(12541)', '경기', '양평군', '지평면', '월산저수지길', '21', '(월산리)']
['(24606)', '강원', '인제군', '북면', '십이선녀탕길', '165', '(용대리,미리내캠프)']
['(06236)', '서울', '강남구', '테헤란로26길', '14,', '4층', '(역삼동,대세빌딩)']
['(10831)', '경기', '파주시', '광탄면', '부흥로', '242', '(창만리)']
['(04419)', '서울', '용산구', '독서당로', '121', '(한남동,TETRAPAK)']
['(06749)', '서울', '서초구', '강남대로', '213', '(양재동)']
['(06913)', '서울', '동작구', '노량진로', '166', '(노량진동)']
['(47281)', '부산', '부산진구', '가야대로', '734', '(부전동,Busan', 'Global', 'Village)']
['(51622)', '경남', '창원시', '진해구', '어은로', '32', '(죽곡동)']
['(04790)', '서울', '성동구', '성수일로', '89,', '605호', '(성수동1가,메타모르포빌딩)']
['(04790)', '서울', '성동구', '성수일로', '89,', '605호', '(성수동1가,메타모르포빌딩)']
['(08377)', '서울', '구로구', '디지털로33길', '48,', '14층', '(구로동,대륭포스트7차)']
['(06719)', '서울', '서초구', '반포대로4길', '58,', '외', '1필지', '(서초동)']
['(10454)', '경기', '고양시', '덕양구', '대주로', '439', '(주교동)']
['(06626)', '서울', '서초구', '서초대로74길', '45', '(서초동)']
['(47744)', '부산', '동래구', '시실로', '60', '(명륜동)']
['(47319)', '부산', '부산진구', '가야대로', '406(개금동)']
['(08826)', '서울', '관악구', '관악로', '1', '(신림동,서울대학교)']
['(04378)', '서울', '용산구', '한강대로', '69', '(한강로2가,용산푸르지오써밋)']
['(04378)', '서울', '용산구', '한강대로', '69', '(한강로2가,용산푸르지오써밋)']
['(06191)', '서울', '강남구', '삼성로', '306,', '4층', '(대치동,아이비타워)']
['(05372)', '서울', '강동구', '양재대로', '1378', '(둔촌동)']
['(06541)', '서울', '서초구', '사평대로', '371,', '6층', '(반포동,현철빌딩)']
['(05627)', '서울', '송파구', '위례성대로', '34', '(방이동)']
['(06292)', '서울', '강남구', '언주로30길', '39,', '15층', '(도곡동,에스이아이타워)']
['(02801)', '서울', '성북구', '정릉로48길', '13', '(돈암동)']
['(42052)', '대구', '수성구', '충의로', '20', '(만촌동)']
['(03625)', '서울', '서대문구', '세무서길', '108,', '2층', '희중약국', '(홍제동)']
['(06193)', '서울', '강남구', '테헤란로70길', '14-8,', '814호', '(대치동,세왕개발빌딩)']
['(22338)', '인천', '중구', '축항대로', '220,', '402호', '(항동7가)']
['(31982)', '충남', '서산시', '서령로', '20', '(동문동)']
['(16520)', '경기', '수원시', '영통구', '중부대로', '452', '(원천동,수원현대자동차운전전문학원)']
['(03186)', '서울', '종로구', '세종대로', '149,', '17층', '(세종로,광화문빌딩)']
['(03190)', '서울', '종로구', '삼일대로17길', '16', '(관철동)']
['(03191)', '서울', '종로구', '종로', '98', '(종로2가)']
['(06626)', '서울', '서초구', '서초대로78길', '42,', '현대기림', '오피스텔', '(서초동)']
['(06153)', '서울', '강남구', '봉은사로', '442,', '10층', '일부', '(삼성동,75에비뉴빌딩)']
['-']
['-']
['(06593)', '서울', '서초구', '서초중앙로33길', '6-6', '(반포동)']
['(08093)', '서울', '양천구', '목동서로', '389,', '8층', '(신정동,테마프라자)']
['(07505)', '서울', '강서구', '하늘길', '210', '(공항동,화물터미널', '게이트8)']
['(51659)', '경남', '창원시', '진해구', '동진로21번길', '18', '(이동)']
['(06164)', '서울', '강남구', '테헤란로', '521,', '21층', '(삼성동,파르나스타워)']
['(06227)', '서울', '강남구', '역삼로', '218,', '6층', '(역삼동,재승빌딩)']
['(07270)', '서울', '영등포구', '양산로', '43,', '210호', '(양평동3가,우림e-BIZ센터)']
['(13638)', '경기', '성남시', '분당구', '구미로', '8,', '2층', '(구미동,분당엠타워)']
['(06132)', '서울', '강남구', '논현로', '509,', '917호', '(역삼동,송암2빌딩)']
['(06126)', '서울', '강남구', '논현로', '553,', '6층', '(역삼동,역삼삼정빌딩)']
['(57932)', '전남', '순천시', '왕지로', '6,', '3층']
['(06611)', '서울', '서초구', '서초대로77길', '61,', '11층,', '12층', '(서초동)']
['(13600)', '경기', '성남시', '분당구', '돌마로', '364,', '2층', '42호,43호,44호', '(수내동,현대제일상가)']
['(06729)', '서울', '서초구', '강남대로', '279', '(서초동,백향빌딩)']
['(06729)', '서울', '서초구', '강남대로', '279', '(서초동,백향빌딩)']
['(03163)', '서울', '종로구', '인사동길', '12,', '9층', '(인사동,대일빌딩)']
['(06604)', '서울', '서초구', '서초대로51길', '14,', '지하1층', '(서초동,JH엘로펌애비뉴빌딩)']
['(04614)', '서울', '중구', '장충단로8길', '11-18,', '지층', '(장충동1가)']
['(04614)', '서울', '중구', '장충단로8길', '11-16', '(장충동1가)']
['(06621)', '서울', '서초구', '서초대로78길', '36,', '9층', '(서초동,강남지웰타워)']
['(16554)', '경기', '수원시', '권선구', '동수원로', '218-39,', '지하1층', '(권선동,권선종합프라자)']
['(06301)', '서울', '강남구', '논현로28길', '27,', '3층', '(도곡동,신우빌딩)']
['(14083)', '경기', '안양시', '동안구', '엘에스로144번길', '132', '(호계동)']
['(07207)', '서울', '영등포구', '양평로21길', '26,', '2401호', '2402호2403호2404호', '(양평동5가,아이에스비즈타워)']
['(13486)', '경기', '성남시', '분당구', '판교로', '253,', '비동', '701-2,', '3호', '(삼평동,판교이노밸리)']
['(06242)', '서울', '강남구', '강남대로78길', '12,', '4층', '(역삼동)']
['(06173)', '서울', '강남구', '영동대로96길', '26,', '3층,', '4층', '(삼성동)']
['(12579)', '경기', '양평군', '양서면', '교골길', '59-2', '(부용리,중앙기숙학원)']
['(03923)', '서울', '마포구', '월드컵북로56길', '9,', '6층', '(상암동,우리기술빌딩)']
['(10111)', '경기', '김포시', '사우중로74번길', '29,', '702-2호', '(사우동,시그마프라자)']
['(18139)', '경기', '오산시', '대원로', '57,', '4층', '401호', '(원동,중앙씨티월3)']
['(06207)', '서울', '강남구', '도곡로', '413', '(대치동,삼환쏘굿아파트)']
['(08378)', '서울', '구로구', '디지털로34길', '55,', '코오롱싸이언스밸리2차', '310호(구로동)']
['(06259)', '서울', '강남구', '도곡로6길', '10,', '4층', '(도곡동)']
['(15277)', '경기', '안산시', '상록구', '시낭북로2길', '11', '(부곡동)']
['(06233)', '서울', '강남구', '강남대로84길', '23,', '1205호,', '1206호', '(역삼동,한라클래식)']
['(44629)', '울산', '남구', '북부순환도로', '45', '(무거동)']
['(06028)', '서울', '강남구', '압구정로', '106', '(신사동)']
['(06131)', '서울', '강남구', '테헤란로19길', '38,', '지하층,', '1층,', '2층', '(역삼동)']
['(07238)', '서울', '영등포구', '국회대로74길', '12,', '7층,', '8층,', '9층,', '10층', '(여의도동,남중빌딩)']
['(05854)', '서울', '송파구', '법원로', '114,', 'A동', '910호', '(문정동,엠스테이트)']
['(06182)', '서울', '강남구', '영동대로', '417,', '3층', '(대치동,오토웨이타워)']

In [ ]:
print(df_sample[df_sample['도로명']=='-'].shape)  # 도로명이 기재되지 않은 회사 17개(지번은 있음)
df_sample[df_sample['도로명']=='-'][['도로명','지번']]

(17, 28)

    도로명                                                  지번
15    -                       (38216) 경북 경주시 양남면 환서리 1011번지
16    -                       (33504) 충남 보령시 웅천읍 수부리 산6-2번지
38    -                            () 강원도 정선군 사북읍 동탄길 38-13
44    -                        (38029) 경북 경주시 안강읍 두류리 797번지
51    -                      (31962) 충남 서산시 해미면 대곡리 867-5번지
64    -  (99999) 경기도 성남시 분당구 정자동6 파크뷰제 20층 제상가 2003호, 2004호
73    -                      (36927) 경북 문경시 호계면 선암리 236-1번지
150   -               (12075) 경기 남양주시 진접읍 내곡리 33-16 내 약500평
224   -                          (38160) 경북 경주시 인왕동 696-9번지
295   -                           (44232) 울산 북구 신명동 104-7번지
446   -     () 서울 동작구 노량진동 71-2외 10필지 이데아빌딩 4층, 5층, 6층, 11층
449   -                      (57228) 전남 장성군 황룡면 와룡리 504-2번지
461   -              (99999) 서울특별시 영등포구 당산동 33-1 한강포스빌 716호
479   -                       (38216) 경북 경주시 양남면 환서리 1011번지
480   -                       (33504) 충남 보령시 웅천읍 수부리 산6-2번지
502   -                            () 강원도 정선군 사북읍 동탄길 38-13
508   -                        (38029) 경북 경주시 안강읍 두류리 797번지

In [ ]:
# 지번은 결측치가 없음
for i in range(len(df_sample['지번'])):
    li=df_sample['지번'][i].split(' ')
    print(li)
    if len(li) < 3:
        print(li)

['(07321)', '서울', '영등포구', '여의도동', '27번지', '금융감독원']
['(17396)', '경기', '이천시', '호법면', '매곡리', '990-8번지']
['(04551)', '서울', '중구', '저동1가', '1-2번지', '나라키움저동빌딩', '9층']
['(06104)', '서울', '강남구', '논현2동', '210-1번지', '삼원빌딩', '8층']
['(61949)', '광주', '서구', '치평동', '1217-10번지', '종산타워', '4층', '401호', '일부']
['(44780)', '울산', '남구', '장생포동', '203번지', '2층']
['(55068)', '전북', '전주시', '완산구', '효자동3가', '1052-1번지']
['(26456)', '강원', '원주시', '행구동', '1008-4번지']
['(26464)', '강원', '원주시', '반곡동', '1914-6번지', '한국관광공사']
['(05103)', '서울', '광진구', '자양2동', '679-30번지']
['(06349)', '서울', '강남구', '수서동', '713번지', '수서현대벤처빌', '1123호']
['(62395)', '광주', '광산구', '장수동', '427번지']
['(14297)', '경기', '광명시', '옥길동', '133-4번지', '17']
['(21693)', '인천', '남동구', '고잔동', '731-10번지']
['(12638)', '경기', '여주시', '현암동', '586-22번지', '7호']
['(38216)', '경북', '경주시', '양남면', '환서리', '1011번지']
['(33504)', '충남', '보령시', '웅천읍', '수부리', '산6-2번지']
['(23011)', '인천', '강화군', '양사면', '인화리', '844-6번지']
['(26496)', '강원', '원주시', '귀래면', '귀래리', '1746번지']
['(25948)', '강원', '삼척시', '도계읍', '상덕리', '4번지']
['(50804)', '경남', '김해시', '상동면', '매리', '산140-8번지', '외']
['(24554)', '강원', '양구군', '남면', '용하리', '429-19번지', '2층']
['(18130)', '경기', '오산시', '오산동', '637번지']
['(61480)', '광주', '동구', '충장로4가', '53번지', '현대코아', '5층']
['(57248)', '전남', '장성군', '남면', '삼태리', '863-6번지']
['(11905)', '경기', '구리시', '사노동', '287-10번지']
['(03152)', '서울', '종로구', '수송동', '146-1번지']
['(35229)', '대전', '서구', '둔산2동', '1026번지']
['(25934)', '강원', '삼척시', '근덕면', '덕산리', '122-4번지']
['(28169)', '충북', '청주시', '흥덕구', '오송읍', '동평리', '169-4번지']
['(22342)', '인천', '중구', '항동7가', '114번지']
['(06192)', '서울', '강남구', '대치4동', '889-5번지', '샹제리제센터', 'A동', '2011호']
['(31933)', '충남', '서산시', '성연면', '일람리', '903-9번지']
['(27865)', '충북', '진천군', '문백면', '태락리', '731번지']
['(59014)', '전남', '해남군', '산이면', '구성리', '산', '24']
['(58688)', '전남', '목포시', '상동', '1036번지', '바동']
['(02055)', '서울', '중랑구', '신내1동', '262-1번지', '신내데시앙', '플렉스', '지하2층', '에프비222호']
['(42459)', '대구', '남구', '대명4동', '3036-20번지']
['()', '강원도', '정선군', '사북읍', '동탄길', '38-13']
['(32201)', '충남', '홍성군', '갈산면', '가곡리', '180번지']
['(61947)', '광주', '서구', '치평동', '1202-2번지', '랜드피아오피스텔', '1045호']
['(06162)', '서울', '강남구', '삼성2동', '141-35번지', '남경빌딩', '601호']
['(38697)', '경북', '경산시', '남천면', '하도리', '777번지']
['(38697)', '경북', '경산시', '남천면', '하도리', '777번지']
['(38029)', '경북', '경주시', '안강읍', '두류리', '797번지']
['(18522)', '경기', '화성시', '정남면', '문학리', '674-28번지']
['(03143)', '서울', '종로구', '수송동', '85번지']
['(51326)', '경남', '창원시', '마산회원구', '회원동', '68-45번지']
['(40155)', '경북', '고령군', '우곡면', '월오리', '산27-1번지']
['(44918)', '울산', '울주군', '범서읍', '중리', '362-1번지']
['(24211)', '강원', '춘천시', '동면', '월곡리', '241번지']
['(31962)', '충남', '서산시', '해미면', '대곡리', '867-5번지']
['(51367)', '경남', '창원시', '의창구', '팔용동', '177-9번지']
['(25034)', '강원', '양양군', '서면', '장승리', '산15번지']
['(13550)', '경기', '성남시', '분당구', '궁내동', '383번지', '도원빌딩', '3층']
['(22665)', '인천', '서구', '오류동', '1612-11']
['(31534)', '충남', '아산시', '신창면', '신달리', '286-14번지']
['(46047)', '부산', '기장군', '일광면', '청광리', '178번지']
['(11520)', '경기', '양주시', '장흥면', '일영리', '161-2번지']
['(37730)', '경북', '포항시', '남구', '송도동', '253-55번지']
['(41843)', '대구', '서구', '중리동', '1136-162번지']
['(11151)', '경기', '포천시', '군내면', '하성북리', '산44-2번지']
['(11154)', '경기', '포천시', '군내면', '용정리', '2-8번지', '106호']
['(07995)', '서울', '양천구', '목1동', '923-6번지', '대한민국예술인센터', '10층', '1020호']
['(99999)', '경기도', '성남시', '분당구', '정자동6', '파크뷰제', '20층', '제상가', '2003호,', '2004호']
['(06164)', '서울', '강남구', '삼성1동', '159번지', '아셈타워', '37층', '3768호']
['(12459)', '경기', '가평군', '설악면', '회곡리', '447-8번지']
['(06131)', '서울', '강남구', '역삼1동', '644-8번지', '대원빌딩', '4층', '401호']
['(46757)', '부산', '강서구', '송정동', '1761-7번지']
['(08536)', '서울', '금천구', '독산3동', '955번지', '신도아파트', '상가', '104호']
['(06212)', '서울', '강남구', '역삼2동', '708-41번지', '두올빌딩', '6층']
['(04001)', '서울', '마포구', '서교동', '448-19번지']
['(36907)', '경북', '문경시', '산북면', '종곡리', '28-1번지']
['(36927)', '경북', '문경시', '호계면', '선암리', '236-1번지']
['(04516)', '서울', '중구', '서소문동', '57-7번지']
['(32532)', '충남', '공주시', '우성면', '방흥리', '235-6번지']
['(52854)', '경남', '진주시', '충무공동', '331-3번지', '배재1빌딩', '202호']
['(05585)', '서울', '송파구', '삼전동', '180-2번지', '8층']
['(52009)', '경남', '함안군', '칠서면', '태곡리', '320번지']
['(33486)', '충남', '보령시', '성주면', '개화리', '610-1번지']
['(33183)', '충남', '부여군', '장암면', '원문리', '산25번지']
['(26021)', '강원', '태백시', '황지동', '77-4번지']
['(50902)', '경남', '김해시', '삼계동', '1505-4번지', '코아루센텀오피스텔', '207호']
['(26414)', '강원', '원주시', '평원동', '184-5번지']
['(07263)', '서울', '영등포구', '당산동2가', '160-2번지', '진덕빌딩', '10층']
['(06181)', '서울', '강남구', '대치2동', '945-15번지', '제주장학회관', '601호']
['(26243)', '강원', '영월군', '중동면', '녹전리', '산1번지']
['(11100)', '경기', '포천시', '관인면', '삼율리', '산144-1번지']
['(17118)', '경기', '용인시', '처인구', '남사면', '통삼리', '640-2번지', '102호']
['(25933)', '강원', '삼척시', '근덕면', '교곡리', '산319번지']
['(22337)', '인천', '중구', '항동7가', '100번지']
['(06026)', '서울', '강남구', '신사동', '629-26번지', '현대벨로스오피스텔', '1102호']
['(06710)', '서울', '서초구', '서초3동', '1460-5번지']
['(06710)', '서울', '서초구', '서초3동', '1460-5번지']
['(28102)', '충북', '청주시', '흥덕구', '옥산면', '동림리', '247-7번지']
['(27681)', '충북', '음성군', '금왕읍', '봉곡리', '산40-8번지']
['(07558)', '서울', '강서구', '염창동', '281번지']
['(06142)', '서울', '강남구', '역삼1동', '677번지', '서울빌딩', '6층']
['(16827)', '경기', '용인시', '수지구', '동천동', '853-1번지', '4층', '현대그린푸드']
['(11773)', '경기', '의정부시', '신곡2동', '786-10번지', '1층']
['(01333)', '서울', '도봉구', '방학1동', '705-13번지', '호텔베이204', 'G동', '1층', '1호']
['(48039)', '부산', '해운대구', '반여1동', '1401-1번지']
['(26144)', '강원', '정선군', '남면', '유평리', '산21번지']
['(32607)', '충남', '공주시', '이인면', '달산리', '34-1번지']
['(22342)', '인천', '중구', '항동7가', '116번지']
['(36347)', '경북', '울진군', '기성면', '사동리', '756-1번지']
['(06235)', '서울', '강남구', '역삼1동', '735-11번지', '신일유토빌', '11층', '1104호']
['(39847)', '경북', '칠곡군', '석적읍', '망정리', '산21-3번지']
['(12769)', '경기', '광주시', '직동', '99-1']
['(49455)', '부산', '사하구', '구평동', '495-20번지']
['(63631)', '제주', '서귀포시', '성산읍', '수산리', '1779-1번지']
['(06052)', '서울', '강남구', '논현2동', '82-17번지', '벤처캐슬빌딩', 'A동', '7층', '731호']
['(59626)', '전남', '여수시', '둔덕동', '산96-1번지', '전남대학교여수캠퍼스', '산학연구관', '517호']
['(18545)', '경기', '화성시', '송산면', '마산리', '290-41번지']
['(32701)', '충남', '금산군', '복수면', '구례리', '51번지']
['(31776)', '충남', '당진시', '읍내동', '192-18번지', '2층']
['(38406)', '경북', '경산시', '하양읍', '대곡리', '44-1번지']
['(25744)', '강원', '동해시', '삼화동', '200번지']
['(37304)', '경북', '의성군', '다인면', '가원리', '133-7번지']
['(26248)', '강원', '영월군', '상동읍', '구래리', '114-4번지']
['(06100)', '서울', '강남구', '논현2동', '266-11번지']
['(07327)', '서울', '영등포구', '여의도동', '26번지', '에스트레뉴', '2003호']
['(03184)', '서울', '종로구', '신문로1가', '226번지', '흥국생명빌딩', '9층']
['(28176)', '충북', '청주시', '흥덕구', '강내면', '산단리', '240-5번지']
['(03188)', '서울', '종로구', '서린동', '99번지']
['(11022)', '경기', '연천군', '청산면', '대전리', '221번지']
['(50561)', '경남', '양산시', '상북면', '석계리', '1117-3번지']
['(48083)', '부산', '해운대구', '좌3동', '1270-3번지']
['(06173)', '서울', '강남구', '삼성1동', '169-1번지', '3층', '엘에스.04']
['(06177)', '서울', '강남구', '대치2동', '1008-1번지', '타워크리스탈', '707호']
['(48244)', '부산', '수영구', '광안3동', '1063-6번지']
['(53013)', '경남', '통영시', '광도면', '죽림리', '1570-8번지', '다임리더스빌', '3층', '322호']
['(59603)', '전남', '여수시', '율촌면', '가장리', '산4번지']
['(63344)', '제주', '제주시', '조천읍', '와흘리', '561']
['(46038)', '부산', '기장군', '장안읍', '임랑리', '111-1번지']
['(59603)', '전남', '여수시', '율촌면', '가장리', '산4번지']
['(06649)', '서울', '서초구', '서초3동', '1563-10번지', '예당빌딩', '5층']
['(36422)', '경북', '영덕군', '축산면', '경정리', '742-2번지']
['(06751)', '서울', '서초구', '양재1동', '153번지', '성보프라자', '203호']
['(63037)', '제주', '제주시', '애월읍', '소길리', '1337-1번지']
['(31428)', '충남', '아산시', '영인면', '월선리', '384번지']
['(17088)', '경기', '용인시', '기흥구', '지곡동', '531번지']
['(02580)', '서울', '동대문구', '신설동', '76-34번지', '우성빌딩', '1층']
['(36811)', '경북', '예천군', '감천면', '덕율리', '829-4번지']
['(11041)', '경기', '연천군', '전곡읍', '간파리', '8-4번지', '2층']
['(49444)', '부산', '사하구', '신평1동', '574번지']
['(22755)', '인천', '서구', '경서동', '677번지']
['(12919)', '경기', '하남시', '풍산동', '527번지', '인스타시티', '1634호']
['(06142)', '서울', '강남구', '역삼1동', '676번지', '삼부빌딩', '9층']
['(07327)', '서울', '영등포구', '여의도동', '24-3번지']
['(12075)', '경기', '남양주시', '진접읍', '내곡리', '33-16', '내', '약500평']
['(07071)', '서울', '동작구', '신대방2동', '395-67번지', '롯데관악타워', '5층']
['(28625)', '충북', '청주시', '서원구', '산남동', '592번지', '신성미소시티블루2', '7층', '708호']
['(12665)', '경기', '여주시', '점동면', '장안리', '611-1']
['(16897)', '경기', '용인시', '기흥구', '보정동', '1197-2번지', '풍산프라자', '8층']
['(57208)', '전남', '장성군', '북하면', '대악리', '산4번지']
['(04598)', '서울', '중구', '신당2동', '355-8번지', '백석빌딩', '5층']
['(32998)', '충남', '논산시', '은진면', '와야리', '125-13번지', '1층']
['(51602)', '경남', '창원시', '진해구', '가주동', '22-4번지']
['(13446)', '경기', '성남시', '수정구', '사송동', '329-1번지', '3층']
['(53331)', '경남', '거제시', '동부면', '부춘리', '산72번지']
['(06698)', '서울', '서초구', '방배3동', '477-1번지', '맴버스뷰', '5층', '506호']
['(38609)', '경북', '경산시', '평산동', '542-16번지']
['(25538)', '강원', '강릉시', '명주동', '30-9번지', '2층']
['(25210)', '강원', '횡성군', '횡성읍', '학곡리', '778번지']
['(06164)', '서울', '강남구', '삼성1동', '159번지', '도심공항타워']
['(18541)', '경기', '화성시', '마도면', '쌍송리', '141-13번지']
['(31208)', '충남', '천안시', '동남구', '신방동', '1450번지', '방산빌딩', '201호']
['(41062)', '대구', '동구', '신서동', '1141번지']
['(32420)', '충남', '예산군', '신암면', '조곡리', '9-27']
['(04334)', '서울', '용산구', '갈월동', '2-5번지', '갑을빌딩', '7층']
['(11184)', '경기', '포천시', '소흘읍', '이동교리', '374-74번지', '포천공구유통단지', '7동', '108호']
['(26029)', '강원', '태백시', '통동', '산67-1번지']
['(25384)', '강원', '평창군', '미탄면', '수청리', '137-1번지']
['(22756)', '인천', '서구', '경서동', '677번지']
['(44918)', '울산', '울주군', '범서읍', '중리', '산103번지']
['(22348)', '인천', '중구', '항동7가', '58-4번지', '라이프비취', '상가', '2층', '209호']
['(07021)', '서울', '동작구', '사당1동', '449-26번지']
['(10036)', '경기', '김포시', '통진읍', '도사리', '843-12번지']
['(31789)', '충남', '당진시', '구룡동', '799-3번지']
['(06178)', '서울', '강남구', '대치2동', '942-19번지', '지어로빌딩', '10층', '1025호']
['(06050)', '서울', '강남구', '논현2동', '71-2번지']
['(06151)', '서울', '강남구', '역삼1동', '702-1번지', '11층']
['(44538)', '울산', '중구', '우정동', '526번지', '한국석유공사']
['(22769)', '인천', '서구', '석남동', '642-12번지']
['(26141)', '강원', '정선군', '신동읍', '조동리', '335-8번지']
['(26460)', '강원', '원주시', '반곡동', '1860-6번지']
['(04531)', '서울', '중구', '소공동', '112-5번지', '삼원빌딩']
['(22007)', '인천', '연수구', '송도4동', '30-3번지', '송도센트로드', 'B동', '202호']
['(44779)', '울산', '남구', '매암동', '139-18번지']
['(15477)', '경기', '안산시', '단원구', '고잔동', '772-2번지', '408호']
['(36371)', '경북', '울진군', '후포면', '금음리', '산75번지']
['(28102)', '충북', '청주시', '흥덕구', '옥산면', '금계리', '682-2번지']
['(15288)', '경기', '안산시', '상록구', '월피동', '445-29번지', '에스엘타운', '201호']
['(15288)', '경기', '안산시', '상록구', '월피동', '445-29번지', '에스엘타운', '201호']
['(17384)', '경기', '이천시', '마장면', '표교리', '527-5번지']
['(06240)', '서울', '강남구', '역삼1동', '827-15번지', '강남대성빌딩']
['(06181)', '서울', '강남구', '대치2동', '945-24번지', '강안교육빌딩', '1층', ',2층,3층,4층,5층1호,6층,7층2호,8층,9층']
['(16227)', '경기', '수원시', '영통구', '이의동', '산94-6번지', '경기대학교']
['(57215)', '전남', '장성군', '장성읍', '유탕리', '1521-4번지', '102호']
['(03157)', '서울', '종로구', '청진동', '128번지', '타워8빌딩1601호']
['(03157)', '서울', '종로구', '청진동', '128번지', '타워8빌딩1601호']
['(06739)', '서울', '서초구', '양재1동', '2-14번지', '우리빌딩', '6층']
['(41584)', '대구', '북구', '침산2동', '265-11번지', '메이저타워', '801호']
['(12197)', '경기', '남양주시', '화도읍', '차산리', '94-2번지', '3층']
['(07558)', '서울', '강서구', '염창동', '281번지']
['(02582)', '서울', '동대문구', '신설동', '98-30번지', '글로리아타워', '7층']
['(02582)', '서울', '동대문구', '신설동', '98-30', '글로리아타워]', '제11층', '제1101호']
['(06209)', '서울', '강남구', '대치4동', '941-19번지', '진흥빌딩', '5층']
['(03188)', '서울', '종로구', '서린동', '70번지', '알파빌딩', '3층']
['(03994)', '서울', '마포구', '동교동', '154-23번지', '류석빌딩', '4층', '403호']
['(13561)', '경기', '성남시', '분당구', '정자동', '178-1번지', '그린팩토리']
['(08507)', '서울', '금천구', '가산동', '371-37번지', '에스티엑스브이타워', '10층', '1006호']
['(06103)', '서울', '강남구', '논현2동', '277-20번지', '삼우빌딩', '4층']
['(06083)', '서울', '강남구', '삼성1동', '107번지', '미켈란107', '6층', '에프72']
['(13597)', '경기', '성남시', '분당구', '수내1동', '28-2번지', '양지프라임', '402,403,404호']
['(08708)', '서울', '관악구', '보라매동', '729-21번지', '대교타워']
['(08708)', '서울', '관악구', '보라매동', '729-21번지', '대교타워']
['(08708)', '서울', '관악구', '보라매동', '729-21번지', '대교타워', '3층']
['(07071)', '서울', '동작구', '신대방2동', '395-67번지', '롯데관악타워']
['(06634)', '서울', '서초구', '서초1동', '1657-7번지']
['(12025)', '경기', '남양주시', '수동면', '외방리', '150-1번지']
['(06634)', '서울', '서초구', '서초1동', '1657-5번지', '카이스시스템빌딩', '8층']
['(06928)', '서울', '동작구', '노량진1동', '46-6번지']
['(38160)', '경북', '경주시', '인왕동', '696-9번지']
['(03369)', '서울', '은평구', '녹번동', '1-30번지', '늘푸른주택', '301호']
['(05606)', '서울', '송파구', '삼전동', '5번지', '신이빌딩', '2층']
['(06142)', '서울', '강남구', '역삼1동', '676번지', '센터필드', '웨스트', '6층', '7층']
['(07301)', '서울', '영등포구', '영등포동4가', '155-1번지', '영남빌딩', '5층']
['(05300)', '서울', '강동구', '길동', '52-2번지']
['(06129)', '서울', '강남구', '역삼1동', '817-27번지', '금성빌딩', '1층']
['(12740)', '경기', '광주시', '초월읍', '지월리', '781-1번지']
['(07304)', '서울', '영등포구', '영등포동3가', '9-13번지', '에쉐르쇼핑몰', '6층']
['(06280)', '서울', '강남구', '대치1동', '626번지', '청실', '상가', '402호']
['(06572)', '서울', '서초구', '방배4동', '852-22번지', '단우빌딩', '6층', ',7층,8층']
['(04059)', '서울', '마포구', '창전동', '6-4번지']
['(10380)', '경기', '고양시', '일산서구', '대화동', '2239번지', '킨텍스존', '5층', '503호']
['(06162)', '서울', '강남구', '삼성2동', '141-31번지', '이케이타워', '5층']
['(04400)', '서울', '용산구', '한남동', '684-51번지', '3층']
['(06626)', '서울', '서초구', '서초2동', '1330-12번지', '강남역인앤인', '5층']
['(08381)', '서울', '구로구', '구로3동', '212-1번지', '에이스트윈타워1차', '403호']
['(06196)', '서울', '강남구', '대치4동', '904-14번지', '리틀팍스']
['(01019)', '서울', '강북구', '인수동', '522-31번지']
['(06236)', '서울', '강남구', '역삼1동', '736-17번지', '동궁빌딩', '3층,', '13층']
['(06233)', '서울', '강남구', '역삼1동', '824-19번지', '동경빌딩', 'K동', '10층', '1090호']
['(06152)', '서울', '강남구', '역삼동', '701번지', '14층']
['(06732)', '서울', '서초구', '서초2동', '1355-3번지', '서초월드', '2층']
['(06643)', '서울', '서초구', '서초동', '1603-54번지', '덕원빌딩']
['(04715)', '서울', '성동구', '행당1동', '284번지']
['(03472)', '서울', '은평구', '응암1동', '64-3번지']
['(06278)', '서울', '강남구', '대치1동', '1024번지', '디마크타워', '2층', '207호', ',', '208호,', '209호,', '210호,', '211호']
['(01062)', '서울', '강북구', '번1동', '446-13번지', '가든타워빌딩', '1724호']
['(06132)', '서울', '강남구', '역삼1동', '642-1번지', '역삼벤처텔', '707호']
['(08003)', '서울', '양천구', '목1동', '408-121번지']
['(42179)', '대구', '수성구', '황금1동', '204-1번지', '4층']
['(16914)', '경기', '용인시', '기흥구', '청덕동', '556번지', '용인테크노밸리', '비201호', '~비211호,비213호']
['(06532)', '서울', '서초구', '잠원동', '46-10번지', '신영빌딩', '2층', '201호']
['(04410)', '서울', '용산구', '한남동', '123번지', '고뫄스빌딩', '6층']
['(12541)', '경기', '양평군', '지평면', '월산리', '582번지']
['(24606)', '강원', '인제군', '북면', '용대리', '1528-12번지']
['(06236)', '서울', '강남구', '역삼1동', '736-58번지', '대세빌딩', '4층']
['(10831)', '경기', '파주시', '광탄면', '창만리', '166-5번지']
['(04419)', '서울', '용산구', '한남동', '49-3번지']
['(06749)', '서울', '서초구', '양재1동', '24번지']
['(06913)', '서울', '동작구', '노량진1동', '117-2번지']
['(47281)', '부산', '부산진구', '부전2동', '389-25번지']
['(51622)', '경남', '창원시', '진해구', '죽곡동', '142번지']
['(04790)', '서울', '성동구', '성수1가2동', '13-189번지', '메타모르포빌딩', '605호']
['(04790)', '서울', '성동구', '성수1가2동', '13-189번지', '메타모르포빌딩', '605호']
['(08377)', '서울', '구로구', '구로동', '170-10번지', '대륭포스트타워7차', '14층']
['(06719)', '서울', '서초구', '서초3동', '1449-9번지', '외', '1필지']
['(10454)', '경기', '고양시', '덕양구', '주교동', '990-3번지']
['(06626)', '서울', '서초구', '서초2동', '1330-3번지']
['(47744)', '부산', '동래구', '명륜동', '96-5번지']
['(47319)', '부산', '부산진구', '개금2동', '639번지']
['(08826)', '서울', '관악구', '신림동', '산56-1번지']
['(04378)', '서울', '용산구', '한강로2가', '420번지', '용산푸르지오써밋']
['(04378)', '서울', '용산구', '한강로2가', '420번지', '용산푸르지오써밋']
['(06191)', '서울', '강남구', '대치2동', '988-13번지', '아이비타워', '4층']
['(05372)', '서울', '강동구', '둔촌2동', '517-3번지']
['(06541)', '서울', '서초구', '반포1동', '748-8번지', '현철빌딩', '6층']
['(05627)', '서울', '송파구', '방이2동', '180-7번지']
['(06292)', '서울', '강남구', '도곡2동', '467-14번지', '에스이아이타워', '15층']
['(02801)', '서울', '성북구', '돈암1동', '7-10번지']
['(42052)', '대구', '수성구', '만촌2동', '992-20번지']
['(03625)', '서울', '서대문구', '홍제3동', '273-33번지', '2층', '희중약국']
['(06193)', '서울', '강남구', '대치4동', '890-34번지', '세왕개발빌딩', '814호']
['(22338)', '인천', '중구', '항동7가', '91-6번지', '402호']
['(31982)', '충남', '서산시', '동문동', '770-3번지']
['(16520)', '경기', '수원시', '영통구', '원천동', '272-1번지']
['(03186)', '서울', '종로구', '세종로', '211번지', '광화문빌딩', '17층']
['(03190)', '서울', '종로구', '관철동', '13-4번지']
['(03191)', '서울', '종로구', '종로2가', '56-16번지']
['(06626)', '서울', '서초구', '서초2동', '1330-18번지', '현대기림', '오피스텔']
['(06153)', '서울', '강남구', '삼성2동', '114-8번지', '75에비뉴빌딩', '10층', '일부']
['(44232)', '울산', '북구', '신명동', '104-7번지']
['(06593)', '서울', '서초구', '반포4동', '52-3번지']
['(08093)', '서울', '양천구', '신정동', '323-7번지', '테마프라자', '8층']
['(07505)', '서울', '강서구', '공항동', '1373번지', '화물터미널', '게이트8']
['(51659)', '경남', '창원시', '진해구', '이동', '3-5번지']
['(06164)', '서울', '강남구', '삼성1동', '159-8번지', '파르나스타워', '21층']
['(06227)', '서울', '강남구', '역삼2동', '770-6번지', '재승빌딩', '6층']
['(07270)', '서울', '영등포구', '양평동3가', '16번지', '우림e-BIZ센터', '210호']
['(13638)', '경기', '성남시', '분당구', '구미동', '188번지', '분당엠타워', '2층']
['(06132)', '서울', '강남구', '역삼1동', '642-10번지', '송암2빌딩', '917호']
['(06126)', '서울', '강남구', '역삼1동', '607-13번지', '역삼삼정빌딩', '6층']
['(57932)', '전남', '순천시', '왕지동', '863-2번지', '3층']
['(06611)', '서울', '서초구', '서초4동', '1309번지', '11층,', '12층']
['(13600)', '경기', '성남시', '분당구', '수내3동', '79-2번지', '현대제일상가', '2층', '42호', ',43호,44호']
['(06729)', '서울', '서초구', '서초2동', '1357-35번지', '백향빌딩']
['(06729)', '서울', '서초구', '서초2동', '1357-35번지', '백향빌딩']
['(03163)', '서울', '종로구', '인사동', '43번지', '대일빌딩', '9층']
['(06604)', '서울', '서초구', '서초4동', '1695-5번지', 'JH엘로펌애비뉴빌딩', '지하1층']
['(04614)', '서울', '중구', '장충동1가', '33-2번지', '지층']
['(04614)', '서울', '중구', '장충동1가', '33-7번지']
['(06621)', '서울', '서초구', '서초4동', '1327-13번지', '강남지웰타워', '9층']
['(16554)', '경기', '수원시', '권선구', '권선동', '1311-8번지', '권선종합프라자', '지하1층']
['(06301)', '서울', '강남구', '도곡2동', '517-13번지', '신우빌딩', '3층']
['(14083)', '경기', '안양시', '동안구', '호계2동', '170-6번지']
['(07207)', '서울', '영등포구', '양평동5가', '1-1번지', '아이에스비즈타워', '2401호', '2402호2403호2404호']
['(13486)', '경기', '성남시', '분당구', '삼평동', '621번지', '판교이노밸리', '비동', '701-2,', '3호']
['(06242)', '서울', '강남구', '역삼1동', '831-24번지,', '4층']
['(06173)', '서울', '강남구', '삼성1동', '169-8번지', '3층,', '4층']
['(12579)', '경기', '양평군', '양서면', '부용리', '96-1번지', '중앙기숙학원']
['(03923)', '서울', '마포구', '상암동', '1593번지', '우리기술빌딩', '6층']
['(10111)', '경기', '김포시', '사우동', '880번지', '시그마프라자', '702-2호']
['(18139)', '경기', '오산시', '원동', '813-5번지', '중앙씨티월3', '4층', '401호']
['(06207)', '서울', '강남구', '대치4동', '938-16번지', '삼환쏘굿아파트']
['(08378)', '서울', '구로구', '구로3동', '811번지', '코오롱싸이언스밸리2차', '310호']
['(06259)', '서울', '강남구', '도곡1동', '944-4번지', '4층']
['(15277)', '경기', '안산시', '상록구', '부곡동', '733-6번지']
['(06233)', '서울', '강남구', '역삼1동', '824-11번지', '한라클래식', '1205호,', '1206호']
['(44629)', '울산', '남구', '무거동', '220-5번지']
['(06028)', '서울', '강남구', '신사동', '528-8번지']
['(06131)', '서울', '강남구', '역삼1동', '638-4번지', '지하층,', '1층,', '2층']
['(07238)', '서울', '영등포구', '여의도동', '13-19번지', '남중빌딩', '7층', ',', '8층,', '9층,', '10층']
['(05854)', '서울', '송파구', '문정2동', '643-1번지', '엠스테이트', 'A동', '910호']
['(06182)', '서울', '강남구', '대치2동', '948', '오토웨이타워', '3층']
['(06596)', '서울', '서초구', '서초3동', '1714-9번지', '에이앤씨빌딩']
['(05854)', '서울', '송파구', '문정2동', '642번지', '송파테라타워2', 'A동', 'A-214호']
['(06239)', '서울', '강남구', '역삼1동', '828-10번지', '올림피아센터', '1층']
['(08814)', '서울', '관악구', '대학동', '240-3번지']
['(03383)', '서울', '은평구', '녹번동', '73-3번지', '103호']
['(12603)', '경기', '여주시', '산북면', '후리', '168번지']
['(06276)', '서울', '강남구', '도곡동', '527-3번지', '도곡렉슬상가']
['(47161)', '부산', '부산진구', '당감동', '614-12번지']
['(08594)', '서울', '금천구', '가산동', '670-2번지', '대륭테크노타운18차', '607호']
['(06640)', '서울', '서초구', '서초1동', '1627-1번지', '교대벤처타워', '3층']
['(08506)', '서울', '금천구', '가산동', '371-16번지', '아이티캐슬2차', '8층']
['(03191)', '서울', '종로구', '종로2가', '55-1번지']
['(03191)', '서울', '종로구', '종로2가', '55-1번지']
['(03191)', '서울', '종로구', '종로2가', '55-1번지']
['(41937)', '대구', '중구', '남일동', '36-1번지', '미도빌딩', '3층']
['(16704)', '경기', '수원시', '영통구', '영통1동', '998-1번지']
['(16634)', '경기', '수원시', '권선구', '오목천동', '386-6번지']
['(06153)', '서울', '강남구', '삼성2동', '112-21번지', '자진빌딩', '301호']
['(03149)', '서울', '종로구', '견지동', '87-1번지']
['(10881)', '경기', '파주시', '문발동', '535-1번지']
['(03159)', '서울', '종로구', '청진동', '70번지', '그랑서울타워1', '6층']
['(06744)', '서울', '서초구', '양재1동', '16-6번지', '위메스빌딩']
['(07255)', '서울', '영등포구', '양평동3가', '46번지', '이앤씨드림타워', '220호']
['(50846)', '경남', '김해시', '한림면', '시산리', '1077-1번지']
['(06611)', '서울', '서초구', '서초4동', '1309-9번지', '에이프로스퀘어', '11층']
['(08587)', '서울', '금천구', '독산1동', '1001-5번지']
['(06640)', '서울', '서초구', '서초1동', '1623-10번지', '영진닷컴빌딩', '1층']
['(17906)', '경기', '평택시', '합정동', '908-6번지', '1층']
['(07238)', '서울', '영등포구', '여의도동', '14-8번지', '극동브이아이피빌딩', 'R동', '562호']
['(12428)', '경기', '가평군', '가평읍', '금대리', '55-130']

In [ ]:
# df_sample에서 시도 태그추출('지번'컬럼이 들어감)
def address_matching_sample(address):
    li_ad = address.split(' ')
    try:
      if li_ad[1] in region_zip1.keys():  # 문자열 스페이스단위로 분리 후 위치 1에 '시도'가 있음.
          return region_zip1[li_ad[1]] # 딕셔너리의 value값 반환
      else:
          return region_zip1['전국']  # 해당사항 없는 경우 전국으로 추출 # 미기입이거나 외국이름이 적혀있는 경우 있음.
    except:
          return region_zip1['전국']

In [ ]:
# df_sample에서 시군구 태그 추출하는 함수
def address_matching_sample_low(address):
    li_ad = address.split(' ')
    try:
      if li_ad[2] in region_zip2.keys() :
          return region_zip2[li_ad[2]]
      else:
          return ''  # 이 부분 안들어가주면 에러날 수 있음.
    except:
      return ''

In [ ]:
def region_sample(region):  # 이곳에는 df_sample의 '지번' 값이 들어오게된다. 

    li = []  # 인덱스를 담을 list

    address1 = address_matching_sample(region)  # '시도' 태그추출함수
    address2 = address_matching_sample_low(region)  # '시군구' 태그추출함수

    for i in range(len(policy_df)):  #  policy_df갯수만큼  for문으로 돌림.
        if policy_df['추출_시군구1'][i] == ['']:  # 시군구 값이 존재하지 않는 경우
            if address1 in policy_df['추출_시도1'][i] :  # 시도 값만 맞춰서 반환
                li.append(policy_df.index[i])
        
        else:  # 시군구 값이 존재하는 경우
            if (address1 in policy_df['추출_시도1'][i]) & (address2 in policy_df['추출_시군구1'][i]):# 둘다 포함되었을 때만 인덱스값 추가
                li.append(policy_df.index[i]) 
    
    # df = policy_df.iloc[li,:] # li의 인덱스만 추출, 열은 전체 추출
    return li

In [ ]:
len(region_sample(df_sample['지번'][0])), len(region_sample(df_sample['지번'][400]))  # 잘 추출되고 있음.

(6, 5)

In [ ]:
region_sample(df_sample['지번'][400])

[4442, 4443, 4446, 4500, 4526]

In [ ]:
# 확인
df_sample['지번'][400]  # 서울 영등포구에 해당하는 정책 갯수는?

'(06634) 서울 서초구 서초1동 1657-5번지'

In [ ]:
lis =[]
for i in range(len(policy_df)):
    if policy_df['추출_시군구1'][i] == ['']:
        if (region_zip1['서울'] in policy_df['추출_시도1'][i]):
            lis.append(policy_df.index[i])
    else:
        if (region_zip1['서울'] in policy_df['추출_시도1'][i])&(region_zip2['서초구'] in policy_df['추출_시군구1'][i]):
            lis.append(policy_df.index[i])

print(policy_df.iloc[lis,:].shape) # lis의 인덱스만 추출, 열은 전체 추출
# 5개로 동일하게 추출

(5, 28)

### 종업원수 매칭

In [ ]:
df_sample['종업원수'].unique()

array(['1,589명', '17명', '67명', '65명', '1명', '62명', '74명', '명', '759명',
       '132명', '8명', '10명', '3명', '22명', '19명', '51명', '38명', '666명',
       '34명', '220명', '6명', '0명', '13명', '14명', '50명', '39명', '54명', '5명',
       '21명', '2명', '46명', '35명', '4명', '23명', '32명', '20명', '15명', '61명',
       '18명', '9명', '43명', '52명', '37명', '28명', '40명', '70명', '26명',
       '30명', '104명', '7명', '24명', '78명', '175명', '25명', '289명', '11명',
       '310명', '45명', '478명', '31명', '49명', '63명', '90명', '16명', '42명',
       '1,448명', '36명', '141명', '129명', '207명', '27명', '144명', '116명',
       '88명', '2,260명', '158명', '142명', '69명', '86명', '122명', '253명',
       '41명', '454명', '29명', '446명', '107명', '106명', '857명', '1,808명',
       '60명', '77명', '80명', '75명', '53명', '1,080명', '85명', '584명', '258명',
       '47명', '146명', '554명', '270명', '800명', '198명', '888명', '1,054명',
       '261명', '2,107명', '192명', '57명', '154명', '641명', '143명', '575명',
       '12명', '277명', '717명', '160명', '209명', '109명', '44명', '552명',
       '669명', '121명', '288명', '416명', '124명', '48명', '152명', '590명',
       '123명', '250명', '1,759명', '795명', '79명', '150명', '300명'],
      dtype=object)

In [ ]:
df_sample[df_sample['종업원수']=='명'].shape   # 결측치 117row

(117, 28)

In [ ]:
# df_sample의 종업원수에 대해 int를 반환하는 함수 : 결측치 117row 에 대해서는 종업원수 관계없으므로 1 반환
import re
def em_num(x):
    numbers = re.sub(r'[^0-9]', '', x)
    if numbers != '' :
        return int(numbers)
    else:
        return 1

In [ ]:
# df_sample['종업원수'][i](아직 str값인 상태) 값을 받아서 해당되는 데이터프레임을 반환하는 함수
def employee_sample(df_num):
    sample_num = em_num(df_num)  # 종업원수 str형을 int로 변환
    sample_df = policy_df[(policy_df['추출_종업원수_최소']<= sample_num) & (sample_num <= policy_df['추출_종업원수_최대'])]
    return sample_df.index   # sample_df의 index리스트를 반환

In [ ]:
employee_sample(df_sample['종업원수'][10]).shape, employee_sample(df_sample['종업원수'][12]).shape

((9263,), (9523,))

In [ ]:
type(employee_sample(df_sample['종업원수'][10]))

pandas.core.indexes.numeric.Int64Index

### 설립기간 매칭

In [ ]:
# 설립기간 index를 반환하는 함수

from datetime import date

def foundate_sample(df_num):
    if df_num == '-': # 값이 없을 때는 모든 인덱스 반환
        return list(policy_df.index)
    else:
        fd_yrs = date.today().year - df_num.year # 이번 년도에서 설립일자를 뺀 기간 
        sample_df = policy_df[(policy_df['추출_설립기간_최소'].astype(int)<= fd_yrs) & \
                              (fd_yrs <= policy_df['추출_설립기간_최대'].astype(int))]
        return sample_df.index

### 주요 업종 매칭

In [ ]:
def product_sample(df_num):
    index = policy_df.index
    if df_num == '-': # 값이 없을 때는 모든 인덱스 반환
        return list(policy_df.index)
    else:
        field = df_num[2:4]

        policy_df['주요업종_filtered'] = ['1' if (str(field) in x) \
                                      else '0' for x in policy_df['추출_주요업종']]
        condition = policy_df['주요업종_filtered']=='1'
        product_indices = index[condition]

        return product_indices

### *적합한 df 추출하기

In [ ]:
df_sample.shape

(509, 28)

In [ ]:
# 인덱스 리스트간 교집합구하기
def sample_matching(x): # x = df_sample의 인덱스

    emp_lst = employee_sample(df_sample['종업원수'][x])  
    region_lst = region_sample(df_sample['지번'][x])
    foundate_lst = foundate_sample(df_sample['설립일자'][x])
    product_lst = product_sample(df_sample['업종(10차)'][x])

    # 인덱스리스트 교집합 구하기
    intersection = list(set(emp_lst) & set(region_lst) & set(foundate_lst) & set(product_lst)) 

    # 적합한 row 추출
    df = policy_df.iloc[intersection,:]   # policy_df에서 교집합 인덱스에 해당되는 것 반환

    return df  #     set1 = [x for x in emp_lst if x in region_lst]

In [ ]:
# 인덱스 리스트간 교집합구하기
def sample_matching2(x): # x = df_sample의 인덱스

    emp_lst = employee_sample(df_sample['종업원수'][x])  
    region_lst = region_sample(df_sample['지번'][x])
    foundate_lst = foundate_sample(df_sample['설립일자'][x])
    product_lst = product_sample(df_sample['업종(10차)'][x])

#     # 인덱스리스트 교집합 구하기
    intersection = list(set(emp_lst) & set(region_lst)& set(foundate_lst) & set(product_lst))

#     # 적합한 row 추출
    df = policy_df.iloc[intersection,:]   # policy_df에서 교집합 인덱스에 해당되는 것 반환

    return df['정책ID'].values.tolist()

In [ ]:
a = [1,2,3,4,5]
b = [2,3,6,7,5]
a or b

[1, 2, 3, 4, 5]

In [ ]:
df_sample['추출_정책아이디'] = df_sample.reset_index()['index'].apply(sample_matching2)

In [ ]:
df_sample['추출_정책아이디']

In [ ]:
df_sample.columns

In [ ]:
sample_matching(8).shape, sample_matching(6).shape, sample_matching(0).shape

In [ ]:
df_sample.loc[[0]][['기업체명', '도로명', '설립형태', '업종(10차)']]

In [ ]:
sample_matching(0)[['정책ID', '서비스명', '지원대상']]

In [ ]:
df_sample.loc[[8]][['기업체명', '도로명', '설립형태', '업종(10차)']]

In [ ]:
sample_matching(8)[['정책ID', '서비스명', '지원대상']]

In [ ]:
len(temp_list)

In [ ]:
sample_matching(8)[['정책ID']]

In [ ]:
sample_matching2(8)

In [ ]:
df_sample.columns

In [6]:
# 엑셀로 저장하기
# df_sample.to_excel("/content/drive/MyDrive/1팀/sample기업데이터 매칭완료.xlsx", sheet_name='new_name', index=False)

# 엑셀파일 읽기
import pandas as pd
df_sample = pd.read_excel("/content/drive/MyDrive/1팀/기업 데이터 (형태+학습) 정책 추천 완료.xlsx")

In [9]:
df_sample.columns

Index(['Unnamed: 0', '섹터', '기업체명', '영문기업명', '사업자번호', '법인(주민)번호', '대표자명',
       '종업원수', '설립형태', '설립일자', '기업형태', '기업규모', '전화번호', '팩스번호', '홈페이지', '이메일',
       '결산월', '기업공개일자', '도로명', '지번', '업종(10차)', '업종(9차)', '주요제품(상품)',
       '무역업허가번호', '소속그룹', '주채권기관', '당좌거래은행', '휴폐업정보', '법인등기정보', '추천 정책'],
      dtype='object')

In [12]:
for i in df_sample['추천 정책']:
    if len(i) >10:
        print(len(i))

12
55
113
36
14
14
14
36
14
66
19
27
12
28
14
21
424
42
13
14
21
21
14
20
42
196
35
94
28
35
28
378
28
14
12
55
113
36
14
14

## df_final 매칭시스템

In [ ]:
df_final.fillna('', inplace=True)

### 지역매칭

In [ ]:
# # 정책데이터 결측치 제거하고 리스트로 만들기
# policy_df['추출_시군구'] = policy_df['추출_시군구'].fillna('')

# policy_df['추출_시도1'] = policy_df['추출_시도'].apply(lambda x : x.split(', '))
# policy_df['추출_시군구1'] = policy_df['추출_시군구'].apply(lambda x:x.split(', '))

In [ ]:
df_final.head(1)

In [ ]:
df_final['기업기본주소'].isnull().sum()

In [ ]:
df_final['기업상세주소'].isnull().sum()

In [ ]:
# df_final의 시도태그 추출
def address_match_final(address):
    li_ad = address.split(' ')
    if li_ad[0] in region_zip1.keys() :
        return region_zip1[li_ad[0]]
    else:
        return region_zip1['전국']

In [ ]:
# df_final의 시군구 태그 추출
def address_match_final_low(address):
    li_ad = address.split(' ')
    if li_ad[1] in region_zip2.keys() :
        return region_zip2[li_ad[1]]
    else:
        return ''   # ★ 이부분 필수

In [ ]:
def region_final(region):  # 이곳에는 df_sample의 '지번' 값이 들어오게된다. 

    li = []  # 인덱스를 담을 list

    address1 = address_match_final(region)  # '시도' 태그추출함수
    address2 = address_match_final_low(region)  # '시군구' 태그추출함수

    for i in range(len(policy_df)):  #  policy_df갯수만큼  for문으로 돌림.
        if policy_df['추출_시군구1'][i] == ['']:  # policy_df에 시군구 값이 존재하지 않는 경우
            if address1 in policy_df['추출_시도1'][i] :  # 시도 값만 맞춰서 반환
                li.append(policy_df.index[i])
        
        else:  # policy_df에 시군구 값이 존재하는 경우
            if (address1 in policy_df['추출_시도1'][i]) & (address2 in policy_df['추출_시군구1'][i]):# 둘다 포함되었을 때만 인덱스값 추가 # ★여기서 address2가 None이 들어올 때 error
                li.append(policy_df.index[i]) 
    
    # df = policy_df.iloc[li,:] # li의 인덱스만 추출, 열은 전체 추출
    return li

In [ ]:
len(region_final(df_final['기업기본주소'][0])), len(region_final(df_final['기업기본주소'][99]))  # 잘 추출되고 있음.

### 종업원수 매칭

In [ ]:
df_final['종업원수'].unique()  # type = int 라서 따로 변환필요x

In [ ]:
df_final[df_final['종업원수']==1673]

In [ ]:
df_final['종업원수'].isnull().sum()  # 결측치 없음

In [ ]:
# df_sample['종업원수'][i](int) 값을 받아서 해당되는 데이터프레임을 반환하는 함수
def employee_final(df_num):
    if df_num == 0:  # 만약 0명이라면 직원수 무관 정책에 해당하니까 1명부터에 해당하는 기업(1인기업 등)도 추출되도록 1로 변환
        df_num = 1
    sample_df = policy_df[(policy_df['추출_종업원수_최소']<= df_num) & (df_num <= policy_df['추출_종업원수_최대'])]
    return sample_df.index

In [ ]:
employee_final(df_final['종업원수'][0]).shape, employee_final(df_final['종업원수'][9086]).shape

### 설립기간 매칭

In [ ]:
df_final['기업설립일자'][11051]

In [ ]:
# 설립기간 index를 반환하는 함수

from datetime import date

def foundate_final(df_num):
    if str(df_num) == '': # 값이 없을 때는 모든 인덱스 반환   # fillna 적용
        return list(policy_df.index)
    else:
        fd_yrs = date.today().year - int(df_num//10000) # 이번 년도에서 설립일자를 뺀 기간 
        sample_df = policy_df[(policy_df['추출_설립기간_최소'].astype(int)<= fd_yrs) & (fd_yrs <= policy_df['추출_설립기간_최대'].astype(int))]
        return sample_df.index

### 주요 업종 매칭

In [ ]:
def product_final(df_num):
    index = policy_df.index
    field = ''
    if df_num == '':   # ★결측값 따로설정안해주면 에러
        return list(policy_df.index)
    elif str(df_num).isdigit() == False:  # ★업종 dtypes = object. 문자열 셀은 따로 처리
        return list(policy_df.index)
    else:
        if str(int(df_num)).isdigit():
            if int(df_num) < 10:
                field = '0' + str(df_num)
            else:
                field = str(df_num)[:2]
        else:
            return list(policy_df.index)

    policy_df['주요업종_filtered'] = ['1' if (str(field) in x) else '0' for x in policy_df['추출_주요업종']]
    condition = policy_df['주요업종_filtered']=='1'
    product_indices = index[condition]

    return product_indices

In [ ]:
product_lst = product_final(df_final['업종'][7])

In [ ]:
len(product_lst)

In [ ]:
df_final.dtypes

### *적합한 df 추출

In [ ]:
df_final.shape

In [ ]:
# 인덱스 리스트간 교집합구하기
def final_matching(x): # x = df_final의 인덱스
    # policy_df의 적합한 인덱스 리스트를 추출
    emp_lst = employee_final(df_final['종업원수'][x])  
    region_lst = region_final(df_final['기업기본주소'][x])
    foundate_lst = foundate_final(df_final['기업설립일자'][x])
    product_lst = product_final(df_final['업종'][x])

    # 인덱스리스트 교집합 구하기
    intersection = list(set(emp_lst) & set(region_lst) & set(foundate_lst) & set(product_lst))

    # 적합한 row 추출
    df = policy_df.iloc[intersection,:]   # policy_df에서 교집합 인덱스에 해당되는 것 반환

    return df

In [ ]:
# 인덱스 리스트간 교집합구하기
def final_matching2(x): # x = df_sample의 인덱스

    emp_lst = employee_final(df_final['종업원수'][x]) 
    region_lst = region_final(df_final['기업기본주소'][x])
    foundate_lst = foundate_final(df_final['기업설립일자'][x])
    product_lst = product_final(df_final['업종'][x])

#     # 인덱스리스트 교집합 구하기
    intersection = list(set(emp_lst) & set(region_lst) &set(foundate_lst) & set(product_lst))

#     # 적합한 row 추출
    df = policy_df.iloc[intersection,:]   # policy_df에서 교집합 인덱스에 해당되는 것 반환

    return df['정책ID'].values.tolist()

In [ ]:
final_matching(10).shape, final_matching(0).shape, final_matching(9999).shape

In [ ]:
df_final[['종업원수', '기업기본주소', '기업설립일자', '업종']].isnull().sum()

In [ ]:
df_final[57]

In [ ]:
df_final['추출_정책아이디'] = df_final.reset_index()['index'].apply(final_matching2)

In [ ]:
df_final.columns

In [ ]:
df_final['추출_정책아이디']

In [8]:
# 엑셀로 저장하기
# df_final.to_excel("/content/drive/MyDrive/1팀/final기업데이터 매칭완료.xlsx", sheet_name='new_name', index=False)

# 엑셀파일 읽기
import pandas as pd
df_final = pd.read_excel("/content/drive/MyDrive/1팀/final기업데이터 매칭완료.xlsx")

In [14]:
df_final.columns

Index(['회계감사인명', '감사보고서의견내용', '기준일자', '사업자등록번호', '법인구분코드', '법인구분코드명', '법인영문명',
       '기업체명', '법인등록시장구분코드', '법인등록시장구분코드명', '법인등록번호', '종업원평균근속기간내용', '기업기본주소',
       '기업상세주소', '종업원수', '기업설립일자', '기업팩스번호', '홈페이지', '기업코스닥상장폐지일자',
       '기업코스닥상장일자', '기업KONEX상장폐지일자', '기업KONEX상장일자', '기업주요사업명', '기업주거래은행명',
       '기업구우편번호', '기업공시회사명', '기업1인평균급여금액', '기업대표자성명', '기업결산월', '기업전화번호',
       '기업거래소상장폐지일자', '기업거래소상장일자', '금융감독원법인변경일시', '금융감독원법인고유번호', '업종',
       '중소기업여부', '추출_정책아이디'],
      dtype='object')

In [27]:
li = []
for i in range(len(df_final['추출_정책아이디'])):
    if len(df_final['추출_정책아이디'][i]) > 100:
        # print('추출된 정책아이디 개수: ', len(df_final['추출_정책아이디'][i]))
        li.append(df_final.index[i])
        # print(df_final.loc[[i],['종업원수', '기업기본주소', '기업설립일자', '업종']])
        print(df_final.loc[[i],['업종']])
# 매칭정책갯수가 많은 기업의 공통점은 특별히 발견되지 않음.

      업종
132  NaN
        업종
155  22211
      업종
200  NaN
        업종
219  20119
      업종
226  NaN
        업종
322  64911
       업종
402  1012
        업종
471  15110
      업종
472  NaN
        업종
502  15190
    업종
511  F
      업종
544  NaN
        업종
586  20411
        업종
603  64999
      업종
624  NaN
       업종
629  4111
        업종
725  41210
        업종
731  15110
     업종
732  42
        업종
847  20129
        업종
977  28303
         업종
1090  64999
         업종
1135  15110
         업종
1281  20119
         업종
1313  20121
         업종
1348  29199
       업종
1355  NaN
       업종
1440  NaN
         업종
1470  29172
         업종
1508  15220
        업종
1534  2811
         업종
1535  41112
       업종
1641  NaN
       업종
1702  NaN
         업종
1750  23232
       업종
1834  NaN
       업종
1889  NaN
       업종
1949  NaN
        업종
1991  7512
         업종
1992  41210
       업종
2027  NaN
       업종
2082  NaN
        업종
2126  4112
         업종
2145  41112
       업종
2176  NaN
         업종
2203  64201
         업종
2205  64201
        업종
2219  1080
         업종
2240  75999
       업종
2260  NaN
       업종
2262  NaN
         업종
2275  41112
       업종
2276  NaN
         업종
2295  11112
         업종
2355  41229
         업종
2386  41221
         업종
2451  71531
         업종
2479  20202
       업종
2628  NaN
       업종
2630  NaN
       업종
2634  NaN
       업종
2636  NaN
       업종
2637  NaN
         업종
2745  68112
         업종
2755  28909
         업종
2766  64201
        업종
2789  4112
      업종
2833  42
       업종
2869  NaN
         업종
2878  11202
        업종
2886  7122
       업종
3006  NaN
       업종
3019  NaN
       업종
3020  NaN
       업종
3043  NaN
       업종
3065  NaN
        업종
3163  4111
         업종
3181  41112
       업종
3226  NaN
       업종
3247  NaN
       업종
3321  NaN
       업종
3338  NaN
       업종
3342  NaN
         업종
3431  41112
         업종
3437  20111
         업종
3556  41112
         업종
3802  20491
         업종
3897  10794
         업종
4036  68119
         업종
4175  23322
         업종
4303  22229
        업종
4366  7599
         업종
4399  12000
       업종
4458  NaN
        업종
4776  2311
         업종
4846  10794
         업종
4864  71531
        업종
4925  1030
         업종
5030  64992
         업종
5141  29142
         업종
5175  64999
         업종
5202  68121
         업종
5286  68129
         업종
5353  10796
        업종
5571  2919
         업종
5591  71531
         업종
5762  22299
         업종
5763  31114
         업종
5826  41112
       업종
5919  NaN
         업종
6055  41112
         업종
6070  68121
        업종
6133  3831
         업종
6352  29169
       업종
6653  292
        업종
6678  1012
      업종
6707  41
       업종
6743  292
        업종
6874  6619
        업종
6901  1220
       업종
7009  412
         업종
7120  41221
         업종
7273  31114
         업종
7527  41129
         업종
7658  29241
         업종
7691  41221
     업종
7772  F
         업종
7822  10402
      업종
7855  41
         업종
7982  10403
         업종
8871  41112
         업종
9047  68121
         업종
9133  11209
        업종
9792  1011
        업종
9799  6811
         업종
10284  7121
          업종
10351  13212
         업종
10609  7122
        업종
10901  NaN
          업종
10945  64999

In [22]:
df_final.iloc[li,:][['종업원수', '기업기본주소', '기업설립일자', '업종']]

       종업원수                      기업기본주소      기업설립일자     업종
132       0         광주광역시 북구 양산동 405-13         NaN    NaN
155       0       충청북도 청원군 남이면 구미리 41번지  19931222.0  22211
200       0           경상북도 김천시 응명동 1016         NaN    NaN
219       0          경기도 양주군 은현면 용암리 73  19900109.0  20119
226       0           경기도 화성시 병점동 489-1         NaN    NaN
...     ...                         ...         ...    ...
10284     0         서울특별시 영등포동2가 28-130  19600205.0   7121
10351     0  경상남도 마산시 회원구 봉암동 666-158번지  19560127.0  13212
10609     0         충청남도 당진군 당진읍 구룡리산44  20040401.0   7122
10901     0        인천광역시 남동구 고잔동 707-10         NaN    NaN
10945     0            서울특별시 영등포구63로 50  20111111.0  64999

[140 rows x 4 columns]

In [23]:
df_final[df_final['종업원수']==0].shape

(11035, 37)

In [24]:
df_final.shape

(11056, 37)

## df_dart 매칭시스템

### 지역매칭

In [ ]:
df_final.columns

Index(['회계감사인명', '감사보고서의견내용', '기준일자', '사업자등록번호', '법인구분코드', '법인구분코드명', '법인영문명',
       '기업체명', '법인등록시장구분코드', '법인등록시장구분코드명', '법인등록번호', '종업원평균근속기간내용', '기업기본주소',
       '기업상세주소', '종업원수', '기업설립일자', '기업팩스번호', '홈페이지', '기업코스닥상장폐지일자',
       '기업코스닥상장일자', '기업KONEX상장폐지일자', '기업KONEX상장일자', '기업주요사업명', '기업주거래은행명',
       '기업구우편번호', '기업공시회사명', '기업1인평균급여금액', '기업대표자성명', '기업결산월', '기업전화번호',
       '기업거래소상장폐지일자', '기업거래소상장일자', '금융감독원법인변경일시', '금융감독원법인고유번호', '업종',
       '중소기업여부'],
      dtype='object')

In [ ]:
df_dart.head()

   결산월(MM)                        주소  ... 주식 종목코드        종목명 또는 약식명칭
0     12.0       충청남도 천안시 청당동 419-12  ...     NaN                 다코
1     12.0            강원도 원주시 원동 303  ...     NaN               일산약품
2     11.0        서울특별시 중구 태평로2가 120  ...     NaN              굿앤엘에스
3     12.0  제주특별자치도 북제주군 한림읍 상명리 587  ...     NaN               한라판지
4     10.0      서울특별시 영등포구 여의도동 36-3  ...     NaN  크레디피아제이십오차유동화전문회사

[5 rows x 19 columns]

In [ ]:
df_dart[df_dart['주소'].isnull()]

       결산월(MM)   주소 사업자등록번호  ... status 주식 종목코드         종목명 또는 약식명칭
137       12.0  NaN     NaN  ...      0     NaN          대우종합기계(가칭)
138       12.0  NaN     NaN  ...      0     NaN          대우조선공업(가칭)
19297     12.0  NaN   17999  ...      0     NaN  LCFINVESTMENTS,LTD

[3 rows x 19 columns]

In [ ]:
# 시도 매칭
df_dart['주소'].fillna('', inplace=True)
df_dart['주소'].fillna('', inplace=True)

In [ ]:
# df_final의 시도태그 추출
def address_match_final(address):
    li_ad = address.split(' ')
    try:
      if li_ad[0] in region_zip1.keys() :
          return region_zip1[li_ad[0]]
      else:
          return region_zip1['전국']
    except:
      return region_zip1['전국']

In [ ]:
# df_final의 시군구 태그 추출
def address_match_final_low(address):
    li_ad = address.split(' ')
    try:
      if li_ad[1] in region_zip2.keys() :
          return region_zip2[li_ad[1]]
      else:
          return ''   # ★ 이부분 필수
    except:
      return ''

In [ ]:
def region_dart(region):  # 이곳에는 df_sample의 '지번' 값이 들어오게된다. 

    li = []  # 인덱스를 담을 list

    address1 = address_match_final(region)  # '시도' 태그추출함수
    address2 = address_match_final_low(region)  # '시군구' 태그추출함수

    for i in range(len(policy_df)):  #  policy_df갯수만큼  for문으로 돌림.
        if policy_df['추출_시군구1'][i] == ['']:  # 시군구 값이 존재하지 않는 경우
            if address1 in policy_df['추출_시도1'][i] :  # 시도 값만 맞춰서 반환
                li.append(policy_df.index[i])
        
        else:  # 시군구 값이 존재하는 경우
            if (address1 in policy_df['추출_시도1'][i]) & (address2 in policy_df['추출_시군구1'][i]):# 둘다 포함되었을 때만 인덱스값 추가
                li.append(policy_df.index[i]) 
    
    # df = policy_df.iloc[li,:] # li의 인덱스만 추출, 열은 전체 추출
    return li

In [ ]:
len(region_dart(df_dart['주소'][0])), len(region_dart(df_dart['주소'][99]))  # 잘 추출되고 있음.

(25, 8)

### 설립기간 매칭

In [ ]:
# 설립기간 index를 반환하는 함수

from datetime import date

def foundate_final(df_num):
    if str(df_num) == 'nan': # 값이 없을 때는 모든 인덱스 반환
        return list(policy_df.index)
    else:
        fd_yrs = date.today().year - int(df_num//10000) # 이번 년도에서 설립일자를 뺀 기간 
        sample_df = policy_df[(policy_df['추출_설립기간_최소'].astype(int)<= fd_yrs) & (fd_yrs <= policy_df['추출_설립기간_최대'].astype(int))]
        return sample_df.index

### 주요 업종 매칭

In [ ]:
def product_final(df_num):
    index = policy_df.index
    field = ''
    if df_num == '':   # ★결측값 따로설정안해주면 에러
        return list(policy_df.index)
    elif str(df_num).isdigit() == False:  # ★업종 dtypes = object. 문자열은 처리
        return list(policy_df.index)
    else:
        if str(int(df_num)).isdigit():
            if int(df_num) < 10:
                field = '0' + str(df_num)
            else:
                field = str(df_num)[:2]
        else:
            return list(policy_df.index)

    policy_df['주요업종_filtered'] = ['1' if (str(field) in x) else '0' for x in policy_df['추출_주요업종']]
    condition = policy_df['주요업종_filtered']=='1'
    product_indices = index[condition]

    return product_indices

### 종업원수 없음(df_dart)

### *적합한 df 추출

In [ ]:
# 인덱스 리스트간 교집합구하기
def dart_matching(x): # x = df_dart의 인덱스
    # policy_df의 적합한 인덱스 리스트를 추출
    region_lst = region_dart(df_dart['주소'][x])
    foundate_lst = foundate_final(df_final['기업설립일자'][x])
    product_lst = product_final(df_final['업종'][x])

    # 인덱스리스트 교집합 구하기
    intersection = list((set(region_lst) & set(foundate_lst)) & set(product_lst))

    # 적합한 row 추출
    df = policy_df.iloc[intersection,:]   # policy_df에서 교집합 인덱스에 해당되는 것 반환

    return df

In [ ]:
dart_matching(10).shape, dart_matching(0).shape, dart_matching(508).shape

((0, 28), (19, 28), (0, 28))

In [ ]:
# 인덱스 리스트간 교집합구하기
def dart_matching2(x): # x = df_sample의 인덱스

    region_lst = region_dart(df_dart['주소'][x])
    foundate_lst = foundate_final(df_dart['설립일(YYYYMMDD)'][x])
    product_lst = product_final(df_dart['업종번호'][x])

#     # 인덱스리스트 교집합 구하기
    intersection = list(set(region_lst) & set(foundate_lst) & set(product_lst))

#     # 적합한 row 추출
    df = policy_df.iloc[intersection,:]   # policy_df에서 교집합 인덱스에 해당되는 것 반환

    return df['정책ID'].values.tolist()

In [ ]:
df_dart['추출_정책아이디'] = df_dart.reset_index()['index'].apply(dart_matching2)

In [ ]:
df_dart.columns

In [ ]:
# 엑셀로 저장하기
df_dart.to_excel("/content/drive/MyDrive/wello/Wello AIB 1팀 제출자료 (Jan 19, 2022)/기업 데이터 (dart) 정책 추천 완료.xlsx", index=False)

df_dart.head()